html {
    height: 100%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}
#msform {
    width: 600px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: #fff;
    border: 0 none;
    border-radius: 5px;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    width: 600px;
    margin: 0 auto;
    left: 0%;
    right: 0%;
    position: relative;
}
#msform fieldset:not(:first-of-type) {
    display: none;
}
img.logo {
    max-width: 120px;
    margin-bottom: 20px;
}
#msform p {
    color: #8b9ab0;
    font-size: 12px;
}
#msform .action-button {
    width: 49%;
    text-transform: uppercase;
    background: #e74c3c;
    font-weight: bold;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px 5px;
    margin: 10px 0;
    font-size: 16px;
    display: inline-block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
#msform .previous.action-button {
    background: #fff;
    border: 1px solid #7bbdf3;
    color: #7bbdf3;
}
.fs-title {
    font-size: 26px;
    font-weight: 200;
    color: #434a54;
    margin-bottom: 20px;
}
.fs-subtitle {
    font-weight: 400;
    color: #434a54;
    margin-bottom: 20px;
    line-height: 1.4
}
#msform #progressbar li {
    font-size: 13px;
    text-transform: capitalize;
}
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #8b9ab0;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li.active {
    color: #e74c3c;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3em;
    margin: 0 auto 5px auto;
}
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}
#progressbar li:first-child:after {
    content: none;
}
#progressbar li.active:before,
#progressbar li.active:after {
    background: #e74c3c;
    color: white;
}

.checkbox-list input[type="checkbox"] {
  display: none;
}

.checkbox-list label {
  border: 1px solid #ddd;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.checkbox-list label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #42a5f5;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.checkbox-list label img {
  height: 30px;
  width: 30px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.checkbox-list :checked + label {
    border-color: #4680ff;
    background-color: #fff;
    border-radius: 5px;
    color: #4680ff;
}

.checkbox-list label:hover {
    border-color: #4680ff;
}

.checkbox-list :checked + label:before {
  content: "✓";
  background-color: #4680ff;
  transform: scale(1);
}

.checkbox-list :checked + label img {
  transform: scale(0.9);
}

.checkbox-list .no-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.checkbox-list label {
    display: -webkit-box;
    padding-left: 20px;
}

.checkbox-list label img {
    margin-right: 5px;
}

.checkbox-list label i {
    font-size: 18px;
    padding-right: 10px;
}

.icon-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #4680ff;
    margin: 0 auto;
    padding-top: 15px;
    margin-bottom: 20px;
}

.icon-circle i {
    font-size: 20px;
    color: #fff;
}