.workers {
    width: 400px;
    height: 185px;
    position: relative;
    margin: 90px auto 0px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
    background-size: 100%;
}

.workers .left_hand {
    width: 80px;
    height: 74px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
    background-size: 100%;
    position: absolute;
    left: 102px;
    top: 29px;
    z-index: 2;
    -moz-animation: 0.4s ease 0s normal none infinite left_hand;
    -moz-transform-origin: 85% 65%;
    -webkit-animation: left_hand 0.4s infinite ease-in-out;
    -webkit-transform-origin: 85% 65%;
    -o-animation: 0.4s ease 0s normal none infinite left_hand;
    -o-animation: left_hand 0.4s infinite ease-in-out;
    -o-transform-origin: 85% 65%;
    -ms-animation: 0.4s ease 0s normal none infinite left_hand;
    -ms-animation: left_hand 0.4s infinite ease-in-out;
    -ms-transform-origin: 85% 65%;
    animation: 0.4s ease 0s normal none infinite left_hand;
    animation: left_hand 0.4s infinite ease-in-out;
    transform-origin: 85% 65%;
}

.workers .right_hand {
    width: 73px;
    height: 87px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
    background-size: 100%;
    right: 125px;
    top: -7px;
    -moz-animation: 0.5s ease 0s normal none infinite right_hand;
    -moz-transform-origin: 15% 85%;
    -webkit-animation: right_hand 0.5s infinite ease-in-out;
    -webkit-transform-origin: 15% 85%;
    -o-animation: 0.5s ease 0s normal none infinite right_hand;
    -o-animation: right_hand 0.5s infinite ease-in-out;
    -o-transform-origin: 15% 85%;
    -ms-animation: 0.5s ease 0s normal none infinite right_hand;
    -ms-animation: right_hand 0.5s infinite ease-in-out;
    -ms-transform-origin: 15% 85%;
    animation: 0.5s ease 0s normal none infinite right_hand;
    animation: right_hand 0.5s infinite ease-in-out;
    transform-origin: 15% 85%;
}