{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %} {% endblock %}</title>


		<!--[if lt IE 10]>
		      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		      <![endif]-->

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />


		<!-- font -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Meera+Inimai" rel="stylesheet">

		<!-- bootstrap -->
		<link href="{% static "vendor/bootstrap/bootstrap.min.css" %}" rel="stylesheet" type="text/css" >

		<!-- icons -->
		<!-- <link href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" rel="stylesheet" type="text/css"> -->
		<link href="{% static "assets/fonts/themify-icons/themify-icons.css" %}" rel="stylesheet" type="text/css">

		<!-- <link href="https://allyoucan.cloud/cdn/icofont/1.0.0beta/css/icofont.css" rel="stylesheet" type="text/css"> -->
		<link href="{% static "assets/fonts/icofont/icofont.min.css"%}" rel="stylesheet" type="text/css">

		<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet" type="text/css"> -->
		<link href="{% static "assets/fonts/simple-line-icons-master/css/simple-line-icons.css"%}" rel="stylesheet" type="text/css">

		<!-- <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css"> -->
		<link href="{% static "assets/fonts/ionicons/css/ionicons.min.css"%}" rel="stylesheet" type="text/css">

		<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
		<link href="{% static "assets/fonts/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

		<!-- rating plugin -->
		<link href="{% static "vendor/jquery-barrating/fontawesome-stars.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "vendor/jquery-barrating/fontawesome-stars-o.css" %}" rel="stylesheet" type="text/css">

		<!-- data tables -->
		<link href="{% static "vendor/datatables/dataTables.bootstrap4.min.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "vendor/datatables/responsive.bootstrap4.min.css" %}" rel="stylesheet" type="text/css">

		<link href="{% static "vendor/datatables/buttons.dataTables.min.css" %}" rel="stylesheet" type="text/css">

		<!-- Owl carousel -->
		<link rel="stylesheet" type="text/css" href="{% static "vendor/owl-carousel/owl.theme.default.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "vendor/owl-carousel/owl.carousel.css" %}">

		<link href="{% static "assets/app/css/style.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "assets/app/css/jquery.mCustomScrollbar.css" %}" rel="stylesheet" type="text/css">


		<!-- theme for this page -->
		{% block styles %}
		{% endblock%}
	</head>
	<body>

		<!-- <div class="theme-loader">
			<div class="loader-block">
				<svg id="loader2" viewBox="0 0 100 100">
					<circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
				</svg>
			</div>
		</div> -->

		<div id="pcoded" class="pcoded">
			<div class="pcoded-overlay-box"></div>
			<div class="pcoded-container navbar-wrapper">

				<!-- navbar -->
				{% include "navbar.html" %}

				<!-- Main Content -->
				<div class="pcoded-main-container">
					{% block content %}
					{% endblock %}
				</div>

			</div>
		</div>


		<script type="text/javascript" src="{% static "vendor/jquery/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "vendor/jquery-ui/jquery-ui.min.js" %}"></script>
		<script type="text/javascript" src="{% static "vendor/popper/popper.min.js" %}"></script>
		<script type="text/javascript" src="{% static "vendor/bootstrap/bootstrap.min.js" %}"></script>

		<script type="text/javascript" src="{% static "vendor/jquery-slimscroll/jquery.slimscroll.js" %}"></script>

		<script type="text/javascript" src="{% static "vendor/modernizr/modernizr.js" %}"></script>
		<script type="text/javascript" src="{% static "vendor/modernizr/css-scrollbars.js" %}"></script>

		<script src="{% static "vendor/isotope/jquery.isotope.js" %}"></script>
		<script src="{% static "vendor/isotope/isotope.pkgd.min.js" %}"></script>

		<!-- rating -->
		<script src="{% static "vendor/jquery-barrating/jquery.barrating.js" %}" type="text/javascript"></script>

		<!-- chartjs -->
		<script type="text/javascript" src="{% static "vendor/chartjs/moment.min.js" %}"></script>
		<script src="{% static "vendor/chartjs/Chart.js" %}"></script>

		<script src="{% static "assets/app/js/pcoded.min.js" %}"></script>
		<script src="{% static "assets/app/js/demo-12.js" %}"></script>
		<script src="{% static "assets/app/js/jquery.mCustomScrollbar.concat.min.js" %}"></script>

		{% block scripts %}
		{% endblock %}

		<script type="text/javascript">
			 // tooltips
		    $(document).ready(function() {
		        $('[data-toggle="tooltip"]').tooltip();
		    });

		    // rating
		    $(document).ready(function() {
		    	ratings = $('[data-toggle="rating"]');
				for(i=0; i < ratings.length; i++){
					currentRating = $(ratings[i]).data('current-rating');
					$(ratings[i]).barrating({
						theme: 'fontawesome-stars-o',
						initialRating: currentRating
					});
					$(ratings[i]).barrating('readonly', true);
				}

				$("#name-search").bind('click', function(){
					text = $("name-search-input").val();
					console.log(text);
  					// var href = "/nosql/api/search/" + text;
  					// window.location = href;
				});
				// function searchNosqlName(event) {
  		// 			event.preventDefault();
  		// 			text = $("name-search-input").val();
  		// 			var href = "/nosql/api/search/" + text;
  		// 			window.location = href;
				// }
		    });
		</script>
	</body>
</html>
