<table id="compare-table" class="table table-bordered nowrap">
	<thead>
		<tr>
			<th>
				<span class="text-muted">Name</span>
			</th>
			<th>
				<i class="ti-stack-overflow f-30 text-muted"></i>
			</th>
			<th>
				<i class="fa fa-github f-30 text-muted"></i>
			</th>
			<th>
				<i class="ti-sharethis-alt f-25 text-muted"></i>
			</th>
			<th>
				<span class="dbengine-title text-muted f-25" style="line-height: 1;">
				DB
				</span>
			</th>
			<th>
				<span class="text-muted f-30" style="line-height: 1;">
				a
				</span>
			</th>
			<th>
				<span class="text-muted">
				Popularity
				</span>
			</th>
			<th>
				<span class="text-muted">
				Performance
				</span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Clusterpoint Database</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				<span data-toggle="sparkline"></span>
			</td>
			<td>
				<select name="rating" data-toggle="rating" data-current-rating="3.5" autocomplete="off">
					<option value="" label="0"></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</td>
		</tr>
	</tbody>
</table>