{% extends "base.html" %}
{% load staticfiles %}
{% load get_amchart_index %}

{% block title %}{{ nosql.name|title }}{% endblock %}

{% block styles %}

<!-- amcharts -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/amcharts/plugins/export/export.css" %}">

<!-- nvd3 -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/nvd3/build/nv.d3.min.css" %}">

<!-- switchers -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/switchery/switchery.min.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "assets/app/menu-search/component.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.css" %}" />

<!-- pie progress -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/jquery-pieProgress/asPieProgress.min.css" %}">

<!-- Quick Tour css -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/introjs/introjs.css" %}">

<!-- theme for this page -->
<link rel="stylesheet" type="text/css" href="{% static "assets/app/css/detail.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "assets/app/css/lists.css" %}">

{% endblock %}

{% block content %}
<div class="pcoded-wrapper">
	<div class="pcoded-content" style="margin-left: 0;">
		<div class="pcoded-inner-content">

			<div class="main-body">
				<div class="page-wrapper">
					<div class="row">
						<div class="col-md-12 col-lg-3">
							{% include "sidebar.html" %}
						</div>
						<div class="col-md-12 col-lg-9">
							{% if comments_points %}
							<div class="d-flex m-b-20 justify-content-between">
				              	<div class="d-flex">
				                	<small class="text-muted">Performance Comments By Year</small>
				              	</div>
            				</div>
							<div class="row" data-intro="The chart shows the amount of performance comments pusblished in HackerNews by year." data-step="4">
    							<canvas id="count-comments-chart" style="width: 100%;" height="220" class="chartjs-render-monitor" data-years="{% for c in comments_points %}{{ c.created_at }}{% if not forloop.last %},{% endif %}{% endfor %}" data-comments="{% for c in comments_points %}{{ c.sentiment }}{% if not forloop.last %},{% endif %}{% endfor %}"></canvas>
  							</div>
  							{% endif %}
  							<div class="row m-t-20 m-b-20">
  								<div class="col-sm-3 col-xs-6 d-flex flex-column align-items-center p-t-10 p-b-10" style="border-right: 1px solid #ccc;" data-intro="The chart shows the number of queries made in google related to the product." data-step="5">
  									{% if is_valid_interest_over_time %}
                					<div class="m-b-20">
                						<canvas id="interest-over-time-mini-chart" style="width: 100%; height: 100px;" height="100" class="chartjs-render-monitor"></canvas>
                					</div>
                					<small class="text-muted">Google Queries By Year</small>
                					{% else %}
                						{% include "partials/emptyGoogleQueriesChart.html" %}
                					{% endif %}
             					</div>
             					<div class="col-sm-3 col-xs-6 d-flex flex-column align-items-center p-t-10 p-b-10" style="border-right: 1px solid #ccc;" data-intro="The chart shows the number of positive and negative comments related to the performance of the product by year." data-step="6">
             						{% if comments_points %}
                					<div class="m-b-20"><canvas id="comments-sentiment-mini-chart" style="width: 100%;" height="100" class="chartjs-render-monitor"></canvas></div>
                					<small class="text-muted">Performance Sentiment By Year</small>
                					{% else %}
                						{% include "partials/emptyPerformanceCommentChart.html" %}
                					{% endif %}
             					</div>
             					<div class="col-sm-3 col-xs-6 d-flex flex-column align-items-center p-t-10 p-b-10" style="border-right: 1px solid #ccc;" data-intro="A donut chart with the number of performance comments for every sentiment." data-step="7">
             						{% if has_comments_percents %}
                					<div class="m-b-20"><canvas id="donut-comments-mini-chart" height="100" style="width: 100%;"></canvas></div>
                					<small class="text-muted">Performance Comments By Sentiment</small>
                					{% else %}
                						{% include "partials/emptySentimentChart.html" %}
                					{% endif %}
             					</div>
             					<div class="col-sm-3 col-xs-6 d-flex flex-column align-items-center p-t-10 p-b-10" style="border-right: 1px solid #ccc;" data-intro="The number of questions in Stack Overflow related to the product." data-step="8">
             						{% if stackoverflow_tag.number_questions > 0 %}
                					<div class="m-b-20"><canvas id="donut-stackoverflow-mini-chart" height="100" style="width: 100%;"></canvas></div>
                					<small class="text-muted">Questions in Stack Overflow</small>
                					{% else %}
                						{% include "partials/emptyStackoverflowChart.html" %}
                					{% endif %}
             					</div>

  							</div>
							<ul class="nav nav-tabs md-tabs product-tabs" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab" href="#technical-details" role="tab">Technical Details</a>
									<div class="slide"></div>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#related-technologies" role="tab">Related Technologies</a>
									<div class="slide"></div>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#similar-technologies" role="tab">Similar Technologies</a>
									<div class="slide"></div>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#quality-attributes" role="tab">Quality Attributes</a>
									<div class="slide"></div>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#other-resources" role="tab">Other Resources</a>
									<div class="slide"></div>
								</li>
							</ul>
							
							<div class="tab-content card-block product-info">
								<div class="tab-pane active product-pane" id="technical-details" role="tabpanel">
									{% include "technicalDetails.html" %}
								</div>

								<div class="tab-pane product-pane" id="related-technologies" role="tabpanel">
									{% include "relatedTechnologies.html" %}
								</div>
								<div class="tab-pane product-pane" id="similar-technologies" role="tabpanel">
									{% include "similarTechnologies.html" %}
								</div>
								<div class="tab-pane product-pane" id="quality-attributes" role="tabpanel">
									{% include "qualityAttributes.html" %}
								</div>
								<div class="tab-pane product-pane" id="other-resources" role="tabpanel">
									{% include "otherResources.html" %}
								</div>
								
							</div>
						</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}

<!-- amcharts -->
<script type="text/javascript" src="{% static "vendor/amcharts/amcharts.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/amcharts/gauge.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/amcharts/serial.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/amcharts/pie.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/amcharts/themes/light.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/amcharts/plugins/export/export.min.js" %}"></script>

<!-- echarts -->
<script type="text/javascript" src="{% static "vendor/echarts/echarts.min.js" %}"></script>

<!-- tour -->
<script src="{% static "vendor/introjs/intro.js" %}" type="text/javascript"></script>

<!-- d3 -->
<script src="{% static "vendor/d3/d3.v3.js" %}"></script>
<script src="{% static "vendor/d3/d3_tooltip.js" %}"></script>

<!-- nvd3 -->
<script type="text/javascript" src="{% static "vendor/nvd3/build/nv.d3.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/sparkline/jquery.sparkline.min.js" %}"></script>

<!-- switchers -->
<script type="text/javascript" src="{% static "vendor/switchery/switchery.min.js" %}"></script>

<!-- datatables -->
<script type="text/javascript" src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/datatables/dataTables.buttons.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/datatables/dataTables.responsive.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/datatables/responsive.bootstrap4.min.js" %}"></script>

<!-- sparkline -->
<script type="text/javascript" src="{% static "vendor/sparkline/jquery.sparkline.min.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/sparkline/jquery.peity.js" %}"></script>

<!-- pie progress -->
<script type="text/javascript" src="{% static "vendor/jquery-pieProgress/jquery-asPieProgress.min.js" %}"></script>

<!-- Owl Carousel -->
<script type="text/javascript" src="{% static "vendor/owl-carousel/owl.carousel.min.js" %}"></script>

<!-- underscore -->
<script type="text/javascript" src="{% static "vendor/underscore/underscore.js" %}"></script>
<script type="text/javascript">


// Switchers
switchers = $('[data-toggle="switcher"]');
for (i=0; i < switchers.length; i++) {
	switchery=new Switchery(switchers[i],{color:'#93be52',jackColor:'#fff', size:'small'});
    switchery.disable();
    
}

// Sidebar Variables
var positiveCount = {{ comments_percents.positives_count }};
var negativeCount = {{ comments_percents.negatives_count }};
var neutralCount = {{ comments_percents.neutral_count }};

// Technical Details Variable
var unansweredQuestions = {% if stackoverflow_tag %}{{ stackoverflow_tag.unanswered_questions }}{% else %}0{% endif %};
var allQuestions = {% if stackoverflow_tag %}{{ stackoverflow_tag.number_questions }}{% else %}0{% endif %};
var answeredQuestions = allQuestions - unansweredQuestions;

// Stackshare Comments

stackshareComments = [
	{% for c in stackshare_comments %}
	{
		"text": "{{ c.text }}",
		"likes": {{ c.likes }}
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
];

// Comparison Charts
var productName = "{{ nosql.name }}";
var comparisonStackoverflow = [
	{% for tag in all_stackoverflow_views %}
	{
		"name": "{{ tag.name }}",
		"value": {{ tag.views }}
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
];

var nextStackoverflowIndex = {% get_amchart_index nosql.name all_stackoverflow_views %};

var comparisonGithub = [
	{% for repo in all_repositories_stars %}
	{
		"name": "{{ repo.name }}",
		"value": {{ repo.stars }}
	}{% if not forloop.last %},{% endif %}
	{% endfor%}
];
var nextGithubIndex = {% get_amchart_index nosql.name all_repositories_stars %};

var comparisonDBEngine = [
	{% for post in all_dbengine_scores %}
	{
		"name": "{{ post.name }}",
		"value": {{ post.score }}
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
];
var nextDBEngineIndex = {% get_amchart_index nosql.name all_dbengine_scores %};


var comparisonStackshare = [
	{% for post in all_stackshare_votes %}
	{
		"name": "{{ post.name }}",
		"value": {{ post.votes }}
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
];
var nextStackshareIndex = {% get_amchart_index nosql.name all_stackshare_votes %};

var comparisonAlternativeto = [
	{% for post in all_alternativeto_likes %}
	{
		"name": "{{ post.name }}",
		"value": {{ post.likes }}
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
];
var nextAlternativetoIndex = {% get_amchart_index nosql.name all_alternativeto_likes %};

bullets = $('[data-toggle="bullet-chart"]');
for(i=0; i < bullets.length; i++){
	max = $(bullets[i]).data('max');
	avg = $(bullets[i]).data('avg');
	measure = $(bullets[i]).data('measure');
	
	AmCharts.makeChart($(bullets[i]).attr('id'), {
	    "theme": "light",
	    "type": "serial",
	    "hideCredits": true,
	    "rotate": true,
	    "dataProvider": [{
	        "site": "Stack Overflow",
	        "avg": avg,
	        "max": max,
	        "actual": measure,
	        "colorAverage": "#1cb4bb",
	        "colorMax": "#05d2dc",
	        "colorActual": "#33a9af"
	    }],
	    "valueAxes": [{
	        "position": "bottom",
					"axisAlpha": 0
	    }],
	    "startDuration": 1,
	    "graphs": [{
	        "balloonText": "Average: <b>[[value]]</b>",
	        "fillAlphas": 1,
	        "lineAlpha": 0.2,
	        "bullet": "round",
	        "title": "2004",
	        "type": "column",
	        "valueField": "avg",
	        "colorField": "colorAverage"
	        }, {
	        "balloonText": "Max: <b>[[value]]</b>",
	        "fillAlphas": 0.5,
	        "lineAlpha": 0,
	        "bullet": "round",
	        "title": "2005",
	        "type": "column",
	        "clustered":false,
	        "valueField": "max",
	        "colorField": "colorMax"
	    },
	     {
	        "balloonText": "Actual: <b>[[value]]</b>",
	        "fillAlphas": 0.7,
	        "lineAlpha": 0.2,
	        "bullet": "round",
	        "title": "2005",
	        "type": "column",
	        "clustered":false,
	        "valueField": "actual",
	        "colorField": "colorActual"
	    }],
	    "plotAreaFillAlphas": 0.1,
	    "categoryField": "site",
	    "categoryAxis": {
	        "gridPosition": "start",
	        "labelsEnabled": false
	    },
	    "export": {
	    	"enabled": false
	     }
	});
	
}

var interestOverTimeData = [
	{% for interest in interest_over_time %}
		{
			"year": "{{ interest.year }}",
			"value": {{ interest.queries }}
		}{% if not forloop.last %},{% endif %}
	{% endfor %}
];

var interestOverTimeLabels = [
	{% for i in interest_over_time %}
		"{{ i.year }}"{% if not forloop.last %},{% endif %}
	{% endfor %}
];

var interestOverTimeQueries = [
	{% for i in interest_over_time %}
		{{ i.queries }}{% if not forloop.last %},{% endif %}
	{% endfor %}
];

console.log(interestOverTimeLabels);
console.log(interestOverTimeQueries);

var commentsSentimentsData = [
	{% for c in comments_points %}
		{
			'created_at': "{{ c.created_at }}",
			'sentiment': {{ c.sentiment }}
		}{% if not forloop.last %},{% endif %}
	{% endfor %}
];

var positivePercent = {{ comments_percents.positives_count }};
var negativePercent = {{ comments_percents.negatives_count }};
var neutralPercent = {{ comments_percents.neutral_count }};

// Related Technologies

var driverReposData = [
	{% for lang in repositories_by_language %}
	{
		"name": "{{ lang.name }}",
		"value": {{ lang.total }}
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
];

$('#status-list').slimScroll({
    height: '240px'
});

var nosqlUri = "{{ nosql.uri }}";

$(".driver-row").click(function() {
    $("#table-repositories").html('<div id="loadingmessage" style="display:none;text-align:center;margin-top:20%">'+ 
    	'<div class="preloader3 loader-block">' +
	    	'<div class="circ1 loader-cyan"></div>' +
	    	'<div class="circ2 loader-cyan"></div>' +
	    	'<div class="circ3 loader-cyan"></div>' +
	    	'<div class="circ4 loader-cyan"></div>' +
        	'</div>' +
        '</div>'
    );

    $('#loadingmessage').show();
    var name = $(this).attr("data-name");
    var url = '/nosql/api/languages-repos';

    $.ajax({
        url: url,
        data: {
           'nosql': nosqlUri,
            'lang': name
        },
        beforeSend: function(){
            $("table-repositories").html('<div class="preloader3 loader-block">' +
                '<div class="circ1"></div>' +
                '<div class="circ2"></div>' +
                '<div class="circ3"></div>' +
                '<div class="circ4"></div>');
        },
        success: function (data) {
            var html = '<div id="loadingmessage" style="display:none;text-align:center;margin-top:20%">' +
                '<img id="loader" style="width:60px;"/>' +
                '</div></div>' +
                '<table class="table">' + 
                '<thead class="text-muted">' +
                '<tr><th>Name</th>' +
                '<th>Wiki</th>' + 
                '<th>Downloads</th>' + 
                '<th>Stars</th>' +
                '</tr></thead><tbody>'
            for (i=0; i < data.length; i++){
                html += '<tr>' +
                    '<td>' +
                    '<a href="#!" data-toggle="popover" data-placement="left" title="" data-content="' + data[i].description + '">' +
                    '<i class="fa fa-question-circle-o text-primary m-r-5" aria-hidden="true"></i></a>' + data[i].name +
                    '</td>'
                if(data[i].has_wiki+'' == 'True') {
                    html += '<td class="text-center"><i class="icofont icofont-check-circled f-20 text-green"></i></td>'
                } else {
                    html += '<td class="text-center"><i class="icofont icofont-close-circled f-20 text-strong-pink"></i></td>'
                }
                if(data[i].has_downloads) {
                    html += '<td class="text-center"><i class="icofont icofont-check-circled f-20 text-green"></i></td>'
                }else {
                    html += '<td class="text-center"><i class="icofont icofont-close-circled f-20 text-strong-pink"></i></td>'
                }
                html += '<td><span class="p-r-5">' + data[i].stars + '</span><i class="icofont icofont-favourite text-warning"></i></td></tr>'
            }

           $('#loadingmessage').hide();
           $("#table-repositories").html(html);
           $('[data-toggle="popover"]').popover({
            html: true,
            content: function() {
                return $('#primary-popover-content').html();
            }

        });
           $('#table-repositories').slimScroll({
    			height: '500px'
			});
        },
        error: function(){
            console.log("There has been error");
        }
    });
});

var stackoverflowTechnologiesData = [
	{% for tag in associated_tags %}
	{
		"name": "{{ tag.name }}",
		"value": {{ tag.count }}
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
];

var githubTechnologiesData = [
	{% for t in technologies %}
	{
		"name": "{{ t.name }}",
		"value": {{ t.total }}
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
];

// Similar Technologies

var similarByStackoverflow = [
 	{% for tag in shared_tags %}
 	{
		"name": "{{ tag.name }}",
		"value": {{ tag.weight }}
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
];

$('#alternativeto-recommendations').slimScroll({
    height: '300px'
});


// Quality Attributes
var positive_count = {{ comments_percents.positives_count }};
var negative_count = {{ comments_percents.negatives_count }};
var neutral_count = {{ comments_percents.neutral_count }};


// Donut Chart
var commentDonutChart = AmCharts.makeChart( "sentiment-doughnut-chart", {
	"type": "pie",
	"theme": "light",
	"hideCredits": true,
	"dataProvider": [ 
		{
			"sentiment": "Positive",
			"value": positive_count,
			"color": "#28d8b2"
		}, 
		{
			"sentiment": "Negative",
			"value": negative_count,
			"color": "#fa6b5b"
		},
		{
			"sentiment": "Neutral",
			"value": neutral_count,
			"color": "#ffc107"
		}
	],
	"labelsEnabled": false,
	"titleField": "sentiment",
	"valueField": "value",
	"colorField": "color",
	"labelRadius": 5,
	"radius": "42%",
	"innerRadius": "60%",
	"labelText": "[[sentiment]]",
	"export": {
		"enabled": false
	}
} );


var commentsData = [
	{% for c in comments_points %}
	[
		new Date("{{ c.created_at }}"),
		{{ c.sentiment }},
		{{ c.points }},
		{% autoescape off %}
		"{{ c.text|escapejs }}" 
		{% endautoescape %}
	]{% if not forloop.last %},{% endif %}
	{% endfor %}
];

$('a[href="#quality-attributes"]').on("shown.bs.tab", function() {
	if($("#comment-scatter-chart").length){
		var eChart_1 = echarts.init(document.getElementById('comment-scatter-chart'));
	        var option = {
	           visualMap: {
	                min: -1,
	                max: 1,
	                dimension: 1,
	                left: 'right',
	                top: 'top',
	                text: ['POSITIVE', 'NEGATIVE'], // 文本，默认为数值文本
	                calculable: true,
	                textStyle: {
	                        color: '#878787',
	                    },
	                inRange: {
	                    color: ['#fc6180', '#28d8b2']
	                }
	            },
	            grid: {
	                left: '3%',
	                right: '20%',
	                bottom: '3%',
	                containLabel: true
	            },
	            tooltip: {
	                trigger: 'item',
	                showDelay: 0,
	                backgroundColor: 'rgba(33,33,33,1)',
	                borderRadius:0,
	                padding:10,
	                axisPointer: {
	                    type: 'cross',
	                    show: true,
	                    lineStyle: {
	                        type: 'dashed',
	                        width: 1
	                    },
	                    label: {
	                        backgroundColor: 'rgba(33,33,33,1)'
	                    }
	                },
	                textStyle: {
	                    color: '#fff',
	                    fontStyle: 'normal',
	                    fontWeight: 'normal',
	                    fontFamily: "'Roboto', sans-serif",
	                    fontSize: 12
	                },
	                formatter: function(params) {
	                    var date = new Date(params.value[0]);
	            return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
	                }
	            },

	            xAxis: [{
	            	show: false,
	                type: 'time',
	                scale: true,
	                nameTextStyle: {
	                    color: '#878787',
	                    fontSize: 12,
	                },
	                axisLine: {
	                    show:false
	                },
	                axisLabel: {
	                    formatter: (function(value) {
	            var date = new Date(value);
	            return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
	          }),
	                    textStyle: {
	                        color: '#878787',
	                        fontFamily: "'Roboto', sans-serif",
	                        fontSize: 12
	                    }
	                },
	                splitLine: {
	                    show:false,
	                }
	            }],
	            yAxis: [{
	                type: 'value',
	        min: -1,
	        max: 1,
	                scale: true,
	                axisLine: {
	                    show:false
	                },
	                axisLabel: {
	                    formatter: '{value}',
	                    textStyle: {
	                        color: '#878787',
	                        fontFamily: "'Roboto', sans-serif",
	                        fontSize: 12
	                    }
	                },
	                nameTextStyle: {
	                    color: '#878787',
	                    fontSize: 12
	                },
	                splitLine: {
	                    show:false
	                }
	            }],
	            series: [{
	                    name: 'Price area',
	                    type: 'scatter',
	                    data: commentsData,
	                    symbolSize:20,
	                    markLine: {
	                        data: [
	            {
	              name: 'dd',
	              yAxis: 0.1
	            }],
	                        lineStyle:{
	                            normal:{
	                              color:'#28d8b2',  
	                            }
	                        }
	                    }
	                },


	            ]
	        };
	        eChart_1.setOption(option);
	        eChart_1.resize();
	    eChart_1.on('click', function (params) {
	    	sentiment = params.data[1];
	   		text = params.data[3];
	   		points = params.data[2];
	   		positiveSentiment = ((sentiment - (-1)) * 100) / (1 - (-1));
	   		negativeSentiment = 100 - positiveSentiment;
	   		$('#positive-progressbar').css("width", positiveSentiment.toFixed(2) + "%");
	   		$('#negative-progressbar').css("width", negativeSentiment.toFixed(2) + "%");

	   		$('#positive-percent').text(positiveSentiment.toFixed(2) + '%');
	   		$('#negative-percent').text(negativeSentiment.toFixed(2) + '%');

	   		$('#hackernews-points').text(points);
	   		$('#comment-text p').text(text);
		});
	}
});


var positives = [
{% for c in comments.positives %}
    {
        x: new Date("2013-01-31T22:27:57.000Z"),
        y: {{ c.sentiment }},
        size: 201,
        shape: 'circle',
        url: "{{ c.url }}",
        text: "{{ c.text|escapejs }}",
        rating: {{ c.stars }},
        sentiment: {{ c.sentiment }},
        created_at: "2013-01-31T22:27:57.000Z"
    }{% if not forloop.last %},{% endif %}
{% endfor %}
];

var negatives = [
    {% for c in comments.negatives %}
        {
            x: new Date("2012-11-18T14:58:46.000Z"),
            y: {{ c.sentiment }},
            size: 201,
            shape: 'circle',
            url: "{{ c.url }}",
            text: "{{ c.text|escapejs }}",
            rating: {{ c.stars }},
            sentiment: {{ c.sentiment }},
            created_at: "2013-01-18T17:47:30.000Z"
        }{% if not forloop.last %},{% endif %}
    {% endfor %}
];
var neutrals = [
    {% for c in comments.neutrals %}
        {
            x: new Date("2011-11-06T19:38:54.000Z"),
            y: {{ c.sentiment }},
            size: 201,
            shape: 'circle',
            url: "{{ c.url }}",
            text: "{{ c.text|escapejs }}",
            rating: {{ c.stars }},
            sentiment: {{ c.sentiment }},
            created_at: "2012-04-15T04:30:59.000Z"
        }{% if not forloop.last %},{% endif %}
    {% endfor %}
];

// Quick Tour Option
  $('#quick-tour').bind('click', function(){
    introJs().start();
  });
</script>


<!-- custom -->
<script type="text/javascript" src="{% static "assets/app/js/details.js" %}"></script>
<script src="{% static "assets/app/js/sidebar.js" %}" type="text/javascript"></script>
<script src="{% static "assets/app/js/technical-details.js" %}" type="text/javascript"></script>
<script src="{% static "assets/app/js/related-technologies.js" %}" type="text/javascript"></script>
<script src="{% static "assets/app/js/similar-technologies.js" %}" type="text/javascript"></script>
<script src="{% static "assets/app/js/quality-attributes.js" %}" type="text/javascript"></script>
<script src="{% static "assets/app/js/other-resources.js" %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static "assets/app/js/script.js" %}"></script>
{% endblock %}