{% load staticfiles %}
<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Search</title>

            <!--[if lt IE 10]>
                  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                  <![endif]-->

			<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">

			<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/bootstrap.css" %}">
			<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="https://allyoucan.cloud/cdn/icofont/1.0.0beta/css/icofont.css">
			<link rel="stylesheet" href="{% static "assets/multi-step-form/reset.min.css" %}">
			<link rel="stylesheet" href="{% static "assets/multi-step-form/style.css" %}">
			<link rel="stylesheet" type="text/css" href="{% static "assets/app/css/style.css" %}">
		</head>

		<body class="multi-step-sign-up">

            <!-- Loader -->
    		<div class="theme-loader">
    			<div class="loader-block">
    				<svg id="loader2" viewBox="0 0 100 100">
    					<circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
    				</svg>
    			</div>
    		</div>

            <!-- Background Chart -->
    		<canvas id="background-chart" height="548" width="1350" style="z-index: 1;position: absolute;"></canvas>

    		<form id="msform" style="z-index: 2;" action="{% url 'nosql:save-form' %}" method="post">
    			{% csrf_token %}
    			<ul id="progressbar">
    				<li class="active">Data Model</li>
    				<li>Drivers</li>
    				<li>Licenses</li>
    			</ul>

    			<fieldset>
    				<div class="icon-circle">
    					<i class="ti-server"></i>
    				</div>
    				<h2 class="fs-title">Data Model</h2>
    				<h3 class="fs-subtitle">What data model would you like?</h3>
    				<hr>
    				<div class="row p-20">
    					<div class="checkbox-list">
                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Document-oriented_database" value="Document-oriented_database" name="datamodel">
                                <label for="Document-oriented_database">
                                    <i class="ti-notepad"></i>
                                    Document
                                </label>
                            </div>
                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Graph_database" value="Graph_database" name="datamodel">
                                <label for="Graph_database">
                                    <i class="fa fa-connectdevelop"></i>
                                    Graph
                                </label>
                            </div>
                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Key-value_database" value="Key-value_database" name="datamodel">
                                <label for="Key-value_database">
                                    <i class="ti-key"></i>
                                   Key-Value
                                </label>
                            </div>
                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Wide_column_store" value="Wide_column_store" name="datamodel">
                                <label for="Wide_column_store">
                                    <i class="ti-layout-column3"></i>
                                    Column
                                </label>
                            </div>
                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Multi-model_database" value="Multi-model_database" name="datamodel">
                                <label for="Multi-model_database">
                                    <i class="ti-layers-alt"></i>
                                    Multimodel
                                </label>
                            </div>
                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="MultiValue" value="MultiValue" name="datamodel">
                                <label for="MultiValue">
                                    <i class="ti-check-box"></i>
                                    Multivalue
                                </label>
                            </div>
                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Object_database" value="Object_database" name="datamodel">
                                <label for="Object_database">
                                    <i class="ti-package"></i>
                                    Object
                                </label>
                            </div>
                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Triplestore" value="Triplestore" name="datamodel">
                                <label for="Triplestore">
                                    <i class="fa fa-list-ol"></i>
                                    Triplestore
                                </label>
                            </div>
                        </div>
    				</div>
    				<button type="button" name="next" class="btn btn-primary next" value="Next">Next</button>
    			</fieldset>

    			<fieldset>
    				<div class="icon-circle">
    					<i class="fa fa-code"></i>
    				</div>
    				<h2 class="fs-title">Drivers</h2>
    				<h3 class="fs-subtitle">What programming languages do you want to support?</h3>
    				<hr>
    				<div class="row p-20">
    					<div class="checkbox-list">
                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Clojure" value="Clojure" name="language">
                                <label for="Clojure">
                                    <img src="{% static "assets/images/clojure.png" %}">
                                    Clojure
                                </label>
                            </div>

                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="C%2B%2B" value="C%2B%2B" name="language">
                                <label for="C%2B%2B">
                                    <img src="{% static "assets/images/cpp.png" %}">
                                    C++
                                </label>
                            </div>

                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Go" value="Go" name="language">
                                <label for="Go">
                                    <img src="{% static "assets/images/go.png" %}">
                                    Go
                                </label>
                            </div>

                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Haskell_(programming_language)" value="Haskell_(programming_language)" name="language">
                                <label for="Haskell_(programming_language)">
                                    <img src="{% static "assets/images/haskell.png" %}">
                                    Haskell
                                </label>
                            </div>

                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="JavaScript" value="JavaScript" name="language">
                                <label for="JavaScript">
                                    <img src="{% static "assets/images/javascript.png" %}">
                                    Javascript
                                </label>
                            </div>
                              
                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Python_(programming_language)" value="Python_(programming_language)" name="language">
                                <label for="Python_(programming_language)">
                                    <img src="{% static "assets/images/python.png" %}">
                                    Python
                                </label>
                            </div>

                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="C_Sharp_(programming_language)" value="C_Sharp_(programming_language)" name="language">
                                <label for="C_Sharp_(programming_language)">
                                    <img src="{% static "assets/images/csharp.png" %}">
                                    C#
                                </label>
                            </div>

                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Ruby_(programming_language)" value="Ruby_(programming_language)" name="language">
                                <label for="Ruby_(programming_language)">
                                    <img src="{% static "assets/images/ruby.png" %}">
                                    Ruby
                                </label>
                            </div>

                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="PHP" value="PHP" name="language">
                                <label for="PHP">
                                    <img src="{% static "assets/images/php.png" %}">
                                    PHP
                                </label>
                            </div>

                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Java_(programming_language)" value="Java_(programming_language)" name="language">
                                <label for="Java_(programming_language)">
                                    <img src="{% static "assets/images/java.png" %}">
                                    Java
                                </label>
                            </div>

                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="C" value="C" name="language">
                                <label for="C">
                                    <img src="{% static "assets/images/c.png" %}">
                                    C
                                </label>
                            </div>
                        
                            <div class="col-md-4 no-padding">
                                <input type="checkbox" id="Scala_(programming_language)" value="Scala_(programming_language)" name="language">
                                <label for="Scala_(programming_language)">
                                    <img src="{% static "assets/images/scala.png" %}">
                                    Scala
                                </label>
                            </div>                            
                        </div>
                    </div>
    				<button type="button" name="previous" class="btn btn-inverse btn-outline-inverse previous" value="Previous">Previous</button>
    				<button type="button" name="next" class="btn btn-primary next" value="Next">Next</button>
    			</fieldset>

    			<fieldset>
    				<div class="icon-circle">
    					<i class="fa fa-usd"></i>
    				</div>
    				<h2 class="fs-title">Licenses</h2>
    				<h3 class="fs-subtitle">What kind of license would you like?</h3>
    				<div class="row p-20">
    					<div class="checkbox-list">
                            <div class="col-md-5 col-md-offset-1 no-padding">
                                <input type="checkbox" id="free" value="Free_software" name="movement">
                                <label for="free">
                                    <i class="ti-gift"></i>
                                    Free
                                </label>
                            </div>
                            <div class="col-md-5 no-padding">
                                <input type="checkbox" id="Proprietary_software" value="Proprietary_software" name="movement">
                                <label for="Proprietary_software">
                                    <i class="ti-archive"></i>
                                    Propietary
                                </label>
                            </div>
                            <div class="col-md-5 col-md-offset-1 no-padding">
                                <input type="checkbox" id="Open-source_license" value="Open-source_license" name="movement">
                                <label for="Open-source_license">
                                    <i class="fa fa-users"></i>
                                    Open Source
                                </label>
                            </div>
                            <div class="col-md-5 no-padding">
                                <input type="checkbox" id="Commercial_software" value="Commercial_software" name="movement">
                                <label for="Commercial_software">
                                    <i class="ti-shopping-cart"></i>
                                    Commercial
                                </label>
                            </div>
                        </div>
                    </div>
    				<button type="button" name="previous" class="btn btn-inverse btn-outline-inverse previous" value="Previous">Previous</button>
    				<input type="submit" name="next" class="btn btn-primary" value="Search" />
    			</fieldset>
    		</form>


            <!--[if lt IE 10]>
            <div class="ie-warning">
                <h1>Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="../files/assets/images/browser/opera.png" alt="Opera">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="../files/assets/images/browser/safari.png" alt="Safari">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="../files/assets/images/browser/ie.png" alt="">
                                <div>IE (9 & above)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
            <![endif]-->


            <script type="text/javascript" src="{% static "vendor/jquery/jquery.min.js" %}"></script>
            <script type="text/javascript" src="{% static "vendor/jquery-ui/jquery-ui.min.js" %}"></script>
            <script type="text/javascript" src="{% static "vendor/popper/popper.min.js" %}"></script>
            <script type="text/javascript" src="{% static "vendor/bootstrap/bootstrap.min.js" %}"></script>
            <script type="text/javascript" src="{% static "vendor/jquery-slimscroll/jquery.slimscroll.js" %}"></script>
            <script type="text/javascript" src="{% static "vendor/modernizr/modernizr.js" %}"></script>
            <script type="text/javascript"  src="{% static "vendor/modernizr/css-scrollbars.js" %}"></script>
            <script type="text/javascript" src="{% static "assets/multi-step-form/main.js" %}"></script>

            <!-- chartjs -->
            <script type="text/javascript" src="{% static "vendor/chartjs/Chart.js" %}"></script>

            <script type="text/javascript" type="text/javascript" src="{% static "assets/multi-step-form/common-pages.js" %}"></script>
            <script type="text/javascript" src="{% static "assets/app/js/formWizard.js" %}"></script>
        </body>
    </html>