{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NoSQL Finder</title>

        <!-- bootstrap -->
		<link href="{% static "vendor/bootstrap/bootstrap.css" %}" rel="stylesheet" type="text/css" >

        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

        <!-- fonts icon css -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
       <link href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" rel="stylesheet" type="text/css">

        <!-- animation css -->
       <link href="{% static "assets/landpage/css/animate.css" %}" rel="stylesheet">

        <!-- styles -->
        <link href="{% static "assets/landpage/css/landing.theme.css" %}" rel="stylesheet">

        <!-- responsive styles -->
        <link href="{% static "assets/landpage/css/responsive.css" %}" rel="stylesheet">

        <!-- owl carousel -->
        <link href="{% static "vendor/owl-carousel/owl.carousel.css" %}" rel="stylesheet">
        <link href="{% static "vendor/owl-carousel/owl.theme.default.css" %}" rel="stylesheet">

        <!-- nivo lightbox -->
        <link href="{% static "assets/landpage/css/nivo-lightbox.css" %}" rel="stylesheet">

        <!-- slick -->
        <link href="{% static "vendor/slick/slick.css" %}" rel="stylesheet">

        <!-- Loader -->
        <link href="{% static "vendor/pace-loader/pace.css" %}" rel="stylesheet">

        <!-- Toastr -->
        <link href="{% static "vendor/toastr/toastr.min.css" %}" rel="stylesheet">

    </head>
    <body>
        <!-- Header -->
        <header>
            <nav class="navbar navbar-fixed-top nav-base dark" id="minify_nav">
                <div class="container">
                    <div class="navbar-header">
                        <!-- Responsive Menu Button -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                            <span class="sr-only">Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Logo Image -->
                        <a href="#hero_8" class="navbar-brand logo-default">
                            <img src="{% static "assets/landpage/images/lightLogo.png" %}" alt="logo">
                        </a>

                        <!-- Logo Image On Scroll -->
                        <a href="#hero_8" class="navbar-brand logo-alt">
                            <img src="{% static "assets/landpage/images/darkLogo.png" %}" alt="logo">
                        </a>

                    </div>
                    <!-- Navigation -->
                    <div id="navigation" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#features_1">Features</a></li>
                            <li><a href="#product">Product</a></li>
                            <li><a href="#team_1">Team</a></li>
                            <li><a href="#contact_1">Contact</a></li>
                            <li><a class="btn btn-secondary" data-animated data-toggle="modal" href="{% url 'nosql:show-form' %}">Explore</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- End Header -->

        <section id="hero_8" style="background: url('{% static "assets/images/background.jpg" %}') center center; background-attachment: fixed;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 text-center p-t-100 p-b-100 wow fadeInUp" data-wow-delay="1500ms" data-wow-duration="1500ms">
                        <h1 class="m-b-40">Want to find the perfect tool, <br> let's start with <span class="f-w-700">NoSQL</span></h1>
                        <a data-animated data-toggle="modal" href="{% url 'nosql:show-form' %}" class="btn btn-lg blue-bg">Explore</a>
                        <a href="#features_1" class="header-down">
                            <img alt="Go to Features" src="{% static "assets/images/arrow.png" %}">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Features Section -->
        <section id="features_1" class="white-bg">
            <div class="container">
                <div class="row text-center m-b-20">
                    <!-- Feature #01 -->
                    <div class="col-md-3 col-sm-6 f-body-2">
                        <div><span class="theme-col ti-settings font-40"></span></div>
                        <h4 class="m-t-10 no-m-b text-blue">Integrating Data</h4>
                        <p>Our spiders collect data from popular sites used by developers, getting data that shows the popularity besides the technical details makes easy to choose a product.</p>
                    </div>
                    <!-- End Feature #01 -->

                    <!-- Feature #02 -->
                    <div class="col-md-3 col-sm-6 f-body-2">
                        <div><img src="{% static "assets/images/stats.png" %}" style="width: 45px;"></div>
                        <h4 class="m-t-10 no-m-b text-blue">Statistics</h4>
                        <p>Pure data makes difficult to see the right tool for the job, so we display our information through different charts and visualizations.</p>
                    </div>
                    <!-- End Feature #02 -->

                    <!-- Feature #03 -->
                    <div class="col-md-3 col-sm-6 f-body-2">
                        <div><span class="theme-col ti-check-box font-40"></span></div>
                        <h4 class="m-t-10 no-m-b text-blue">Quality Attributes</h4>
                        <p>The design of software systems, involve quality attributes, here we show an analysis of the performance attribute for every product through sentiment analysis techniques.</p>
                    </div>
                    <!-- End Feature #03 -->

                    <!-- Feature #04 -->
                    <div class="col-md-3 col-sm-6 f-body-2">
                        <div><span class="theme-col ti-timer font-40"></span></div>
                        <h4 class="m-t-10 no-m-b text-blue">Updated Data</h4>
                        <p>In order to provide the last data for every product, we realize a regular check in every website, updating the data available for all the users.</p>
                    </div>
                    <!-- End Feature #04 -->
                </div>
                <div class="row text-center">
                    <!-- Feature #05 -->
                    <div class="col-md-3 col-sm-6 f-body-2">
                        <div><span class="theme-col ti-harddrives font-40"></span></div>
                        <h4 class="m-t-10 no-m-b text-blue">NoSQL Catalog</h4>
                        <p>We have a wide catalog of NoSQL databases with technical details and overall support.</p>
                    </div>
                    <!-- End Feature #05 -->

                    <!-- Feature #06 -->
                    <div class="col-md-3 col-sm-6 f-body-2">
                        <div><span class="theme-col ti-comments-smiley font-40"></span></div>
                        <h4 class="m-t-10 no-m-b text-blue">Sentiment Analisis</h4>
                        <p>Using sentiment analysis techniques we rate the sentiment for the performance in comments published by hacker news.</p>
                    </div>
                    <!-- End Feature #06 -->

                    <!-- Feature #07 -->
                    <div class="col-md-3 col-sm-6 f-body-2">
                        <div><img src="{% static "assets/images/network.png" %}" style="width: 45px;"></div>
                        <h4 class="m-t-10 no-m-b text-blue">Related Technologies</h4>
                        <p>A system is composed of technologies working with each other so we show you the technologies supported by a NoSQL product.</p>
                    </div>
                    <!-- End Feature #07 -->

                    <!-- Feature #08 -->
                    <div class="col-md-3 col-sm-6 f-body-2">
                        <div><img src="{% static "assets/images/browser.png" %}" style="width: 47px;"></div>
                        <h4 class="m-t-10 no-m-b text-blue">About the Future</h4>
                        <p>In the future, we would like to expand our catalog of technologies and refine the filter techniques to show you a complete software ecosystem.</p>
                    </div>
                    <!-- End Feature #08 -->
                </div>
            </div>
        </section>
        <!-- End Features Section -->

        <!-- Content section -->
        <section id="product" class="theme-bg" style="background-image: url({% static "assets/images/pattern-bg.png" %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left-content">
                        <!-- Right side image -->
                        <img src="{% static "assets/images/programmer.png" %}" alt="image" class="img-responsive">
                    </div>
                    <div class="col-md-6 p-l-80">
                        <!-- Large Title -->
                        <h2>Explore NoSQLs And Their Technologies</h2>
                        <!-- Small title -->
                        <p class="h4">A product that will help you to take better decisions on time.</p>
                        <!-- Text content -->
                        <p class="lead">It doesn't matter if you are working in a personal project or an enterprise system, choosing the right tool for the job is a challenge for every software architect or developer, having at hand a catalog of technologies that shows the relations between them can save a big amount of days or hours in browsing through a vast ocean of information!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Content section -->

        <!-- Feature Section -->
        <section id="features_6" class="white-bg">
            
            <canvas id="background-chart" height="30" style="z-index: 1; position: absolute; width: 100%; bottom: 0;"></canvas>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left-content p-b-40">
                        <h2>Decisions Supported by Data</h2>
                        <div class="f-box m-b-20">
                            <div class="f-icon"><span class="ti-search"></span></div>
                            <div class="f-text">
                                <h5>Browsing</h5>
                                <p>Search through programming languages, licenses and data models.</p>
                            </div>
                        </div>
                        <div class="f-box m-b-20">
                            <div class="f-icon"><span class="ti-stats-up"></span></div>
                            <div class="f-text">
                                <h5>Visualization</h5>
                                <p>Collected data in form of charts and summary sections.</p>
                            </div>
                        </div>
                        <div class="f-box m-b-20">
                            <div class="f-icon"><span class="ti-face-smile"></span></div>
                            <div class="f-text">
                                <h5>Quality Attributes</h5>
                                <p>Stats about the opinion of developers about the performance of the NoSQLs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="position: relative; z-index: 2;">
                        <!-- Right side image -->
                        <div class="screenshot">
                        <img width="853" height="492" src="{% static "assets/landpage/images/dashboardScreenshot2.png" %}" class="attachment-full" alt="" sizes="(max-width: 853px) 100vw, 853px">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End Feature Section -->

        <!-- Team Section -->
        <section id="team_1" class="p-b-60 theme-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-md-offset-2 text-center m-b-40">
                        <!-- Title -->
                        <h2>Our team members</h2>
                    </div>
                </div>
                <div class="row team-member">
                    <!-- Team Member #01 -->
                    <div class="col-md-4 col-md-offset-2 col-sm-6 m-b-40 text-center wow fadeInRight" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <!-- Member Image -->
                        <img src="{% static "assets/landpage/images/PerlaVelasco_1.jpg" %}" alt="team" style="width: 80px;">
                        <!-- Member Social Account -->
                        <ul class="list-unstyled list-inline social">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                            <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                            <li><a href="#"><span class="fa fa-vimeo"></span></a></li>
                        </ul>
                        <!-- Member Name -->
                        <h4>Perla Velasco</h4>
                        <!-- Member Designation -->
                        <p>Mentor</p>
                    </div>
                    <!-- End Team Member #01 -->

                    <!-- Team Member #02 -->
                    <div class="col-md-4 col-sm-6 m-b-40 text-center wow fadeInRight" data-wow-delay="1000ms" data-wow-duration="1500ms">
                        <img src="{% static "assets/landpage/images/maritza.png" %}" alt="team">
                        <ul class="list-unstyled list-inline social">
                            <li><a href="https://www.facebook.com/maritza.esparzahernandez"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="https://twitter.com/EsparzaMaritza"><span class="fa fa-twitter"></span></a></li>
                        </ul>
                        <h4>Maritza Esparza</h4>
                        <p>Developer</p>
                    </div>
                    <!-- End Team Member #02 -->
                </div>
            </div>
        </section>
        <!-- End Team Section -->

        <!-- Contact Form Section -->
        <section id="contact_1">
            <div class="container">
                <div class="row m-b-40">
                    <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                        <!-- Contact Large Title -->
                        <h3>Get in Touch</h3>
                        <!-- Description -->
                        <p class="lead">Please fill out the quick form for every comment or dude and  we will be in touch with lightening speed.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 left-content wow fadeInLeft" data-wow-delay="1500ms" data-wow-duration="1500ms">
                    <!-- Contact form -->
                    
                        <form action="{% url 'index' %}" method="POST" class="form-horizontal" id="contact">
                            {{ form.name|attr:"placeholder:Name"|add_class:"form-control" }}
                            {{ form.email|attr:"placeholder:Email"|add_class:"form-control m-t-20" }}
                            {{ form.comments|attr:"placeholder:Your Message"|add_class:"form-control m-t-20"}}
                            {% csrf_token %}
                            <button id="submit" type="submit" class="btn m-t-20">submit</button>
                        </form>
                    </div>

                    <div class="col-md-6 col-sm-12 text wow fadeInRight" data-wow-delay="1500ms" data-wow-duration="1500ms">
                        <!-- Right Side Title -->
                        <h4>We are always happy to help you</h4>
                        <!-- Text -->
                        <p class="m-b-40">This project has started like a research project supported by the Autonomous University of Zacatecas, you can make contact at:</p>
                        <!-- Address -->
                        <h5><span class="ti-location-pin"></span> Campus Siglo XXI, Carr. Zacatecas-Guadalajara Km. 6, Ejido "La Escondida" 98160 Zacatecas</h5>
                        <!-- Phone -->
                        <h5><span class="ti-mobile"></span> 01 492 925 6690 Ext 4100</h5>
                        <!-- Timing -->
                        <h5><span class="ti-time"></span> Monday to Friday 8 AM to 2 PM</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Form Section -->

        <!-- Footer Section -->
        <footer id="social_footer_1" class="footer p-t-60 p-b-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h4>Hope you like it</h4>
                        <p>Copyright © 2017 NoSQL Finder. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Section -->

        <!-- Jquery plugins -->
        <script type="text/javascript" src="{% static "assets/landpage/js/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
        <script src="{% static "assets/landpage/js/modernizr.custom.js" %}" type="text/javascript"></script>
        <script src="{% static "assets/landpage/js/jquery.counterup.min.js" %}" type="text/javascript"></script>
        <script src="{% static "assets/landpage/js/wow.min.js" %}" type="text/javascript"></script>
        <script src="{% static "vendor/owl-carousel/owl.carousel.min.js" %}" type="text/javascript"></script>
        <script src="{% static "assets/landpage/js/nivo-lightbox.min.js" %}" type="text/javascript"></script>
        <script src="{% static "assets/landpage/js/jquery.ajaxchimp.min.js" %}" type="text/javascript"></script>
        <script src="{% static "assets/landpage/js/jquery.countdown.min.js" %}" type="text/javascript"></script>
        <script src="{% static "assets/landpage/js/jquery.validate.min.js" %}" type="text/javascript"></script>
        <script src="{% static "assets/landpage/js/waypoints.min.js" %}" type="text/javascript"></script>
        <script src="{% static "vendor/chartjs/Chart.js" %}"></script>
        <script src="{% static "vendor/toastr/toastr.min.js" %}" type="text/javascript"></script>

        <!-- Forms -->
        <script src="{% static "assets/landpage/js/essentials.js" %}" type="text/javascript"></script>
        <script src="{% static "vendor/slick/slick.js" %}" type="text/javascript"></script>
        <script src="{% static "assets/landpage/js/form.wizard.js" %}" type="text/javascript"></script>


        <!-- Custom -->     
        <script src="{% static "assets/landpage/js/custom.js" %}" type="text/javascript"></script>

        <!-- Loader -->
        <script src="{% static "vendor/pace-loader/pace.min.js" %}" type="text/javascript"></script>


        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script>
            // Arrow scroll
            $(document).on('click', 'a[href^="#features_1"]', function (event) {
                event.preventDefault();

                $('html, body').animate({
                    scrollTop: $($.attr(this, 'href')).offset().top -60
                }, 1500);
            });

            // Clean the form after submit
            // $('#search-form').on('submit', function() {
            //     $(this).each(function() {
            //          this.reset();
            //     });
            // });

            var ctx1 = document.getElementById("background-chart").getContext("2d");

            // Create Linear Gradient
            var white_gradient = ctx1.createLinearGradient(0, 0, 0,500);
            white_gradient.addColorStop(0, 'rgba(70,128,255,0.5)');
            white_gradient.addColorStop(1, 'rgba(70,128,255,0)');

            // Chart Options
            var backgroundOptions = {
                responsive: true,
                maintainAspectRatio: false,
                datasetStrokeWidth : 3,
                pointDotStrokeWidth : 4,
                tooltipFillColor: "rgba(0,0,0,0.8)",
                responsive: true,
                tooltips: {
                 enabled: false
                },  
                legend: {
                    display: false,
                },
                hover: {
                    mode: 'label'
                },
                scales: {
                    xAxes: [{
                        display: false,
                    }],
                    yAxes: [{
                        display: false,
                        ticks: {
                            min: 0,
                            max: 85
                        },
                    }]
                },
                title: {
                    display: false,
                    fontColor: "#FFF",
                    fullWidth: false,
                    fontSize: 40,
                    text: '82%'
                }
            };

            // Chart Data
            var backgroundData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "Employees",
                    data: [28, 15, 17, 38, 46, 42, 60],
                    backgroundColor: white_gradient,
                    borderColor: "rgba(255,255,255,1)",
                    borderWidth: 2,
                    strokeColor : "#ff6c23",
                    pointColor : "#fff",
                    pointBorderColor: "rgba(255,255,255,1)",
                    pointBackgroundColor: "#3BAFDA",
                    pointBorderWidth: 2,
                    pointHoverBorderWidth: 2,
                    pointRadius: 5,
                }]
            };

            var backGroudconfig = {
                type: 'line',

                // Chart Options
                options : backgroundOptions,

                // Chart Data
                data : backgroundData
            };

            // Create the chart
            var areaChart = new Chart(ctx1, backGroudconfig);

            {% if sent %}
                toastr.options.closeButton = true;
                toastr.success('Your email was sent sucessfully!');
            {% endif %}
        </script>
    </body>
</html>