<div class="card job-right-header">
	<div class="card-header">
		<h5>
			<i class="icofont-filter m-r-5"></i>
			Quick Search
		</h5>
		<div class="card-header-right">
			<label class="label label-danger">Filter</label>
		</div>
	</div>
	<div class="card-block">
		<hr class="m-t-0">

		<h6 class="quick-form-header">Data Model</h6>
		<!-- data model form -->
		<form action="{% url 'nosql:save-form' %}" method="post">
			{% csrf_token %}
			{% for d in datamodels %}
			<div class="checkbox-fade fade-in-primary">
				<label>
					<input type="checkbox" id="{{ d.dbpedia_uri }}" value="{{ d.dbpedia_uri }}" name="datamodel">
					<span class="cr">
						<i class="cr-icon icofont-ui-check txt-primary"></i>
					</span>
				</label>
				<div>
					{{ d.name|title }}
					<span class="text-muted">({{ d.count }})</span>
				</div>
			</div>
			{% endfor %}
			<div class="text-right">
				<button type="submit" class="btn btn-primary">
					<i class="ti-search m-r-5"></i> Search
				</button>
			</div>
		</form>
	</div>
</div>