{% load staticfiles %}
<nav class="navbar header-navbar pcoded-header">
	<div class="navbar-wrapper">

		<!-- logo -->
		<div class="navbar-logo">
			<a href="index.html" style="margin: 0 auto;">
				<img class="img-fluid" src="{% static "assets/landpage/images/lightLogo4.png" %}" alt="Theme-Logo" style="width: 190px;" />
			</a>
		</div>

		<!-- navbar menu -->
		<div class="navbar-container container-fluid">
			<ul class="nav-left">
				<li>
					<div class="sidebar_toggle">
						<a href="javascript:void(0)">
							<i class="ti-menu"></i>
						</a>
					</div>
				</li>
				<li>
					<a href="{% url 'index' %}">
						<i class="ti-home nav-icon"></i>
						Home
					</a>
				</li>
				<li>
				  	<a href="{% url 'nosql:show-form' %}">
				  		<i class="ti-search nav-icon"></i>
				  		Advanced Search
				  	</a>
				</li>
				<li>
						<a id="quick-tour" href="#">
							<i class="ti-camera nav-icon"></i>
							Quick Tour
						</a>
				</li>
			</ul>
		</div>
	</div>
</nav>