{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Offline</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<!-- icon -->
		<link href="../files/assets/images/favicon.ico" rel="icon" type="image/x-icon">

		<!-- font -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Meera+Inimai" rel="stylesheet">

		<!-- bootstrap -->
		<link href="{% static "vendor/bootstrap/bootstrap.min.css" %}" rel="stylesheet" type="text/css" >

		<!-- icons -->
		<link href="{% static "vendor/icons/themify-icons/themify-icons.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "vendor/icons/icofont/css/icofont.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "vendor/icons/simple-line-icons/css/simple-line-icons.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "vendor/icons/ionicons/css/ionicons.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "vendor/icons/font-awesome/css/font-awesome.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "assets/app/css/style.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "assets/app/css/jquery.mCustomScrollbar.css" %}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="{% static "assets/app/css/offline.css" %}">
	</head>
	<body>
		

		<div id="pcoded" class="pcoded">
			<div class="pcoded-overlay-box"></div>
			<div class="pcoded-container navbar-wrapper">
			<!-- Main Content -->
				<div class="pcoded-main-container">
					<section class="login offline-404 p-fixed d-flex text-center">

						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">

									<div class="auth-body">
										<div class="workers" style="background-image: url({% static "assets/images/workers.svg" %});">
            								<div class="left_hand" style="background-image: url({% static "assets/images/hand.svg" %});"></div>
            								<div class="right_hand" style="background-image: url({% static "assets/images/hand2.svg" %});"></div>
        								</div>
									
										<h1 style="font-size: 130px;">Offline</h1>
										<h2>Oops! Website Is Temporarily Offline</h2>
										<a href="{% url 'index' %}" class="btn btn-primary btn-lg m-t-30">Back to Home</a>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="{% static "vendor/jquery/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "vendor/jquery-ui/jquery-ui.min.js" %}"></script>
		<script type="text/javascript" src="{% static "vendor/popper/popper.min.js" %}"></script>
		<script type="text/javascript" src="{% static "vendor/bootstrap/bootstrap.min.js" %}"></script>

		<script type="text/javascript" src="{% static "vendor/jquery-slimscroll/jquery.slimscroll.js" %}"></script>

		<script type="text/javascript" src="{% static "vendor/modernizr/modernizr.js" %}"></script>
		<script type="text/javascript" src="{% static "vendor/modernizr/css-scrollbars.js" %}"></script>

		<script src="{% static "vendor/isotope/jquery.isotope.js" %}"></script>
		<script src="{% static "vendor/isotope/isotope.pkgd.min.js" %}"></script>
		<script src="{% static "assets/app/js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
	</body>
</html>
