<div class="row">
	<div class="col-sm-6 b-r-default text-center">
  		<div>
    		<i class="round-icon fa fa-stack-overflow f-20 m-b-10 stackoverflow" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Stack Overflow"></i>
  		</div>
  		<div>
			<h5 class="f-w-600 m-b-5">
			{% if number_questions %}{{ number_questions }}{% endif %}
			</h5>
  		</div>
    	<small class="text-muted f-w-600">Questions</small>
		<div class="progress m-t-5" style="height: 8px;">
			<div class="progress-bar bg-c-green" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Answered: {{ percentage_answered }}%" style="width:{{ percentage_answered  }}%">
			</div>
			<div class="progress-bar bg-c-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Unanswered: {{ percentage_unanswered }}%" style="width:{{ percentage_unanswered  }}%;background-color: #ff728f;">
			</div>
		</div>
	</div>
	<div class="col-sm-6 text-center">
  		<div>
  			<i class="round-icon fa fa-github-alt document f-20 m-b-10"  data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Github"></i>
  		</div>
  		<div>
    		<h5 class="f-w-600">{{ github_stars }}</h5>
    	</div>
		<small class="text-muted f-w-600 m-b-0">Repositories</small>
	</div>
</div>
<hr>
<div class="row p-b-10">
	<small class="text-muted f-w-600" data-toggle="tooltip" data-placement="top" data-trigger="hover" title="Hacker News" style="margin: 0 auto;">
		<i class="fa fa-hacker-news f-20 m-r-10" style="color: #FF9800;"></i>
		Performance Comments
	</small>
</div>
<div class="row">
	{% if comments %}
	<canvas id="comments-chart-{{ uri }}" width="260" height="100" data-years="{% for c in comments %}{{ c.created_at }}{% if not forloop.last %},{% endif %}{% endfor %}" data-sentiment="{% for c in comments %}{{ c.sentiment }}{% if not forloop.last %},{% endif %}{% endfor %}"></canvas>
	{% else %}
	<div class="m-b-10" style="margin: 0 auto;">
		<div class="text-center p-b-5">
			<i class="icofont icofont-growth f-60" style="color: #e6e6e6;"></i>
		</div>
		<small class="text-muted">There's no data for this chart</small>
	</div>
	{% endif %}
</div>
<div class="text-right p-t-10">
	<a href="{% url 'nosql:nosql_detail' uri=uri %}" class="btn btn-cyan waves-effect waves-light btn-sm"> View Info
	</a>
</div>