{% load staticfiles %}
<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h5 class="card-header-text">
						Comments Sentiments Scatter Chart
					</h5>
					<span>You can select a comment from the bubble chart to analyze it.</span>
					<p class="text-muted"><i class="icofont icofont-bubble-right f-25" style="color: #2dd5b1;
"></i>The arrow marks the limit when a comment starts to being considered like positive </p>
				</div>
				<div class="card-block d-inline-flex">
					{% if comments_points %}
					<div class="col-md-8 d-inline-flex border-right">
						<div id="comment-scatter-chart" style="height:400px;width: 100%;"></div>
					</div>
					<div class="col-md-4">
						<div class="row p-b-20">
							<div class="col-md-12 text-center">
								<h6 class="text-muted">
									<i class="fa fa-hacker-news f-30 p-r-10 text-hackernews" aria-hidden="true"></i> 
									Hacker News Comment
								</h6>									
							</div>
						</div>
						<div class="row p-b-20">
							<div id="comment-text" class="col-md-12 p-r-30 p-l-30">
							<p class="text-muted">
								<i class="icofont icofont-comment" style="font-size: 120px;color: #e8ebf7;padding: 30%;"></i>
							</p>
							</div>
						</div>
						<div class="row p-t-20 p-b-10">
						  	<div class="col-md-12">
						    	<span class="text-muted p-r-10">Points:</span>
						    	<span id="hackernews-points" class="f-w-600"></span>
						  </div>
						</div>
						<div class="row p-b-20">
							<div class="col-md-12">
								<div class="progress" style="height: 8px;">
									<div id="positive-progressbar" class="progress-bar progress-bar-success" role="progressbar" style="width:50%"></div>
									<div id="negative-progressbar" class="progress-bar progress-bar-danger" role="progressbar" style="width:50%"></div>
								</div>
							</div>
						</div>
						<div class="row">
								<div class="col-sm-6 sentiment-legend p-l-30">
								<span class="legend-point bg-c-green"></span>
								<h6 id="positive-percent" class="m-l-30 f-w-600">23.89%</h6>
								<p class="text-muted m-b-0 ">
									<i class="fa fa-smile-o p-r-10 f-20"></i>
									Positive
								</p>
							</div>
							<div class="col-sm-6 sentiment-legend">
								<span class="bg-c-pink legend-point"></span>
								<h6 id="negative-percent" class="m-l-30 f-w-600">23.89%</h6>
								<p class="text-muted m-b-0 ">
									<i class="fa fa-frown-o p-r-10 f-20" ></i>
									Positive
								</p>
							</div>
						</div>
					</div>
					{% else %}
						{% include "partials/emptyDetailSectionBG.html" %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<h5 class="card-header-text">
						All Comments
					</h5>
				</div>
				<div class="card-block">
					<table id="comments-table" class="table table-bordered nowrap">
						<thead>
							<tr>
								<th class="text-muted">Percentage</th>
								<th class="text-muted">Sentiment</th>
								<th class="text-muted">Comment</th>
							</tr>
						</thead>
						<tbody>
							{% for c in comments_text %}
							<tr>
								<td class="text-center">
									<div data-toggle="data-pie" positive="{{ c.percents.positive }}" negative="{{ c.percents.negative }}"></div>
								</td>
								<td>
									<div class="text-center">
										{% if c.category == 'positive' %}
										<i class="fa fa-smile-o f-20 p-r-5 text-positive"></i>
										<span class="f-w-600 text-positive">Sentiment: {{ c.sentiment }}</span>
										{% elif c.category == 'negative' %}
										<i class="fa fa-frown-o f-20 p-r-5 text-negative"></i>
										<span class="f-w-600 text-negative">Sentiment: {{ c.sentiment }}</span>
										{% elif c.category == 'neutral' %}
										<i class="fa fa-meh-o f-20 p-r-5 text-neutral"></i>
										<span class="f-w-600 text-neutral">Sentiment: {{ c.sentiment }}</span>
										{% endif %}
									</div>				
								</td>
								<td class="comment f-12">{{ c.text }}</td>
							</tr>
							{% endfor %}
						</tbody>
							<tfoot>
								<tr>
									<th class="text-muted">Percentage</th>
									<th class="text-muted">Sentiment</th>
									<th class="text-muted">Comment</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>