{% load staticfiles %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="card-header-left">
					<h5>Drivers in Github</h5>
				</div>
				<div class="card-header-right">
					<input type="checkbox" data-toggle="switcher" class="js-default js-small" {% if repositories_by_language|length > 0%}checked{% endif %}>
				</div>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-8">
						{% if repositories_by_language %}
						<div id="github-drivers-chart" style="width:100%; height:300px">
						</div>
						{% else %}
							{% include "partials/emptyDetailSectionBG.html" %}
						{% endif %}
					</div>
					<div class="col-md-4">
						<div class="p-b-20">
							<span class="text-muted">
								Supported Programming Languages
							</span>
						</div>
						<div id="status-list">
						{% for dr in drivers %}
							<p class="text-muted f-14 m-b-0 p-b-15 p-l-10">
								{% if dr.status == 'official' %}
								<i class="fa fa-fw fa-circle f-10 m-r-5 text-deep-blue"></i>
								{% elif dr.status == 'inofficial' %}
								<i class="fa fa-fw fa-circle f-10 m-r-5 text-strong-pink"></i>
								{% elif dr.status == 'community' %}
								<i class="fa fa-fw fa-circle f-10 m-r-5 text-light-blue"></i>
								{% else %}
								<i class="fa fa-fw fa-circle f-10 m-r-5 text-light-gray"></i>
								{% endif %}
								{{ dr.name|title}}
							</p>
						{% endfor %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="text-center m-b-30 m-t-30" style="border-top: 2px dotted #e0e0e0;">
							<div class="text-muted text-semibold m-t-10 m-b-20">
								<span>Status of the drivers</span>
							</div>
							<div class="text-muted text-legend">
								<i class="fa fa-fw fa-circle f-10 m-r-5 text-deep-blue"></i>
								Official
							</div>
							<div class="text-muted text-legend">
								<i class="fa fa-fw fa-circle f-10 m-r-5 text-light-blue"></i>
								Community
							</div>
							<div class="text-muted text-legend">
								<i class="fa fa-fw fa-circle f-10 m-r-5 text-strong-pink"></i>
								Inofficial
							</div>
							<div class="text-muted text-legend">
								<i class="fa fa-fw fa-circle f-10 m-r-5 text-light-gray"></i>
								Unknown
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
										
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<div class="card-header-left">
					<h5>Popular Drivers in Github</h5>
				</div>
				<div class="card-header-right">
					<input type="checkbox" data-toggle="switcher" class="js-default js-small" {% if drivers_repos|length > 0 %}checked{% endif %}>
				</div>
			</div>

			<div class="card-block">
				{% if drivers_repos %}
				<div class="row">
					<div class="col-md-5 p-l-30 left-border">
						<div class="p-b-20">
							<span class="text-muted">
								Supported Programming Languages
							</span>
						</div>
						{% for dr in drivers_repos %}
						{% if dr.repos %}
						<div class="browser-card browser-card b-t-default p-t-15 p-b-15">
							<p class="d-inline-block m-0">{{ dr.name|title }}</p>
							<button class="btn btn-outline-primary btn-mini btn-round float-right driver-row" data-name="{{ dr.name }}">
								See repositories
							</button>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					<div class="col-md-7">
						<div lass="p-b-20">
						</div>
						<div id="table-repositories">
							<div style="height: 200px;text-align: center;margin-top: 35%;">
                            <div style="margin-bottom: 10px;">
                                <span style="font-size: 80px;color: #e2e2e2;">
                                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                </span>
                            </div>
                            <p class="text-subhead text-light">Choose a programming language</p>
                        </div>
						</div>
					</div>
				</div>
				{% else %}
					{% include "partials/emptyDetailSection.html" %}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				<div class="card-header-left">
					<h5 class="card-header-text">
						<i class="icofont icofont-users-alt-4"></i> Clients
					</h5>
				</div>
				<div class="card-header-right">
					<input type="checkbox" data-toggle="switcher" class="js-default js-small" {% if clients|length > 0 %}checked{% endif %}>
				</div>

			</div>
			<div class="card-block">
				{% if clients %}
				<div class="row">
					{% for c in clients %}
					<div class="col-md-4 p-t-20">
						<img class="img-radius" data-toggle="tooltip" title="{{ c.name }}" src="{{ c.thumbnail }}" style="width: 40px; cursor: pointer;">
					</div>
					{% endfor %}
				</div>
				{% else %}
				{% include "partials/emptyDetailSection.html" %}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-md-12 col-xl-8">
		<div class="card">
			<div class="card-header">
				<div class="card-header-left">
					<h5>Related Technologies</h5>
				</div>
				<div class="card-header-right">
					<ul class="nav nav-pills nav-pills-rounded">
					    <li class="nav-item">
					    	<a class="nav-link active" data-toggle="tab" href="#stackoverflow-related-tech">
					    		Stack Overflow
					    	</a>
					    </li>
					    <li class="nav-item">
					    	<a class="nav-link" data-toggle="tab" href="#github-related-tech">
					    		Github
					    	</a>
					    </li>
					</ul>
				</div>
			</div>
			<div class="card-block-big">
				<div class="tab-content">
					<div id="stackoverflow-related-tech" class="tab-pane active">
						{% if associated_tags %}
						<div id="stackoverflow-related-tech-charts"></div>
						<p class="text-muted">
							<i class="icofont icofont-question-circle f-20 text-cyan p-r-5"></i>
							Technologies commonly tagged on the same questions in Stack Overflow. 
						</p>
						{% else %}
							{% include "partials/emptyDetailSectionBG.html" %}
						{% endif %}
					</div>
					<div id="github-related-tech" class="tab-pane">
						{% if technologies %}
						<div id="github-related-tech-charts"></div>
						<p class="text-muted">
							<i class="icofont icofont-question-circle f-20 text-cyan p-r-5"></i>
							Technologies used in projects hosted on Github and related with the NoSQL. 
						</p>
						{% else %}
							{% include "partials/emptyDetailSectionBG.html" %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>