<h6 class="card-section-title">
	Supported Languages
</h6>
{% if languages %}
{% for lang in languages %}
<div class="progress-box">
	<h6 class="text-muted f-12" style="margin-bottom: -3px;">{{ lang.name|title }}</h6>
	<div class="progress d-inline-block" style="width: 100%;">
		<div class="progress-bar {% cycle 'bg-c-blue' 'bg-c-yellow' 'bg-c-green' 'progress-bar-emrald' 'progress-bar-purple' %}" style="width:{{ lang.percentage }}% ">
			<label>{{ lang.percentage }}%</label>
		</div>
	</div>
</div>
{% endfor %}
{% else %}
{% include "emptyData.html" %}
{% endif %}
<hr>
<small class="text-muted">Based on the amount of repositories for every language.</small>
<div class="text-right p-t-10">
						<a href="{% url 'nosql:nosql_detail' uri=uri %}" class="btn btn-cyan waves-effect waves-light btn-sm"> View Info
							</a>
					</div>