{% load get_type %}
<div class="card card-overview" data-intro="Contains general information about the product." data-step="1">
	<div class="card-header p-b-5">
		<div class="text-center">
				<div class="p-b-20">
					{% if nosql.thumbnail %}
					<img src="{{ nosql.thumbnail }}" style="width: 80px;">
					{% else %}
					<div class="p-b-20">
						<i class="icon-block fa fa-database bg-c-blue"></i>
					</div>
					{% endif %}
				</div>

			<h5 class="text-primary f-16">{{ nosql.name|title }}</h5>
			<div data-intro="The rating is based on the amount of performance comments and their general sentiment." data-step="2">
				<select id="product-rating" name="rating" data-toggle="rating" data-current-rating="{{ nosql_rating }}" autocomplete="off">
					<option value="" label="0"></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div>
		</div>
	</div>

	<div class="card-block">
		
		<hr>
		<p class="property-title">
			Amount of Recovered Data
		</p>
		<div data-intro="Shows the amount of recovered data related with the product. We search in seven different websites." data-step="3">
			<div id="sites-bullet-chart" style="width: 100%; height: 50px;" data-measure="{{ sames }}" data-max="7"> 
			</div>
		</div>
		<small class="text-muted">We recovered data from seven websites.</small>
		<hr>
		<div>
			<div class="p-b-20">
				<p class="property-title">
					Technical Info
				</p>
			</div>

			{% if latest_release %}
			<div class="p-b-15">
				<p class="property-title">
					Latest Release
				</p>
				<p class="value-title">
					{{ latest_release }}
				</p>
			</div>
			{% endif %}

			{% if frequently_updated %}
			<div class="p-b-15">
				<p class="property-title">
					Frequently updated
				</p>
				<p class="value-title">
					{{ frequently_updated }}
				</p>
			</div>
			{% endif %}

			{% if homepages %}
			<div class="p-b-15">
				<p class="property-title">
					Homepage
				</p>
				{% if homepages|get_type == 'list' %}
					<p class="value-title">
						<a class="text-muted" href="{{ homepages|first }}">{{ homepages|first|truncatechars:40 }}</a>
					</p>
				{% elif homepages|get_type == 'str' %}
					<p class="value-title">
						<a class="text-muted" href="{{ homepages }}">{{ homepages|truncatechars:40 }}</a>
					</p>
				{% endif %}
			</div>
			{% endif %}

			{% if documentation %}
			<div class="p-b-15">
				<p class="property-title">
					Documentation
				</p>
				<p class="value-title">
					<a class="text-muted" href="{{ documentation }}">{{ documentation|truncatechars:40 }}</a>
				</p>
			</div>
			{% endif %}

			{% if status %}
			<div class="p-b-15">
				<p class="property-title">Status</p>

				<p class="value-title">
					{% if 'inactive' in status|lower %}
						<i class="icofont icofont-close f-20 text-negative"></i>
					{% elif 'active' in status|lower %}
					<i class="icofont icofont-check f-20 text-positive"></i>
					{% endif %}
					{{ status|title }}
				</p>
			</div>
			{% endif %}

			{% if developers %}
			<div class="p-b-15">
				<p class="property-title">
					Developer
				</p>

				{% with developers|first as developer %}
				<p class="text-darker-gray m-b-0 value-title">
                    <i class="fa fa-circle bullet"></i>
                    {{ developer|title }}
				</p>
				{% endwith %}
			</div>
			{% endif %}

			{% if developed_languages %}
			<div class="p-b-15">
				<p class="property-title">
					Writen in
				</p>
				{% for language in developed_languages %}
					{% if language.name %}
						<p class="text-darker-gray m-b-0 value-title">
		                    <i class="fa fa-circle bullet"></i>
		                     {{ language.name|title }}
						</p>
					{% endif %}
				{% endfor %}
			</div>
			{% endif %}

			<div class="social-icons">
				{% if stackoverflow_tag.uri %}
				<a class="text-cyan" data-toggle="tooltip" title="Stack Overflow" target="_blank"  href="https://stackoverflow.com/tags/{{ stackoverflow_tag.uri }}/info">
					<i class="ti-stack-overflow"></i>
				</a>
				{% endif %}
				{% if repository.uri %}
				<a class="text-cyan" data-toggle="tooltip" title="Github" target="_blank" href="{{ repository.uri }}">
					<i class="fa fa-github"></i>
				</a>
				{% endif %}
				{% if stackshare_post.uri %}
				<a class="text-cyan" data-toggle="tooltip" title="Stackshare" target="_blank" href="https://stackshare.io/{{ stackshare_post.uri }}">
					<i class="ti-sharethis-alt"></i>				
				</a>
				{% endif %}
				{% if nosql.dbpedia_uri %}
				<a class="text-cyan" data-toggle="tooltip" title="Wikipedia" target="_blank" href="https://en.wikipedia.org/wiki/{{ nosql.dbpedia_uri }}">
					<i class="fa fa-wikipedia-w"></i>
				</a>
				<a class="text-cyan" data-toggle="tooltip" title="DBpedia" target="_blank" href="http://dbpedia.org/page/{{ nosql.dbpedia_uri }}">
					<i class="icofont icofont-atom"></i>
				</a>
				{% endif %}
				{% if dbengine_post %}
				<a class="text-cyan dbengine-title" data-toggle="tooltip" title="DBEngine" target="_blank" href="{{ dbengine_post.uri }}">
					DB
				</a>
				{% endif %}
				{% if alternativeto_post %}
				<a class="text-cyan alternativeto-title" data-toggle="tooltip" target="_blank" title="Alternativeto" href="https://alternativeto.net/software/{{ alternativeto_post.uri }}/"">
					a
				</a>
				{% endif %}
			</div>
		</div> 
	</div>
</div>