<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h5 id="compare-title">Compare By</h5>
				<div class="card-header-left">
				</div>
				<div class="card-header-right p-r-20">
					<div>
						<button class="btn btn-cyan btn-outline-cyan btn-round f-12 m-r-10" id="similar-datamodel">
						Data Model
						</button>
						<button class="btn btn-cyan btn-outline-cyan btn-round f-12 m-r-10" id="similar-stackoverflow-tags">
						Stack Overflow
						</button>
						<button class="btn btn-cyan btn-outline-cyan btn-round f-12 m-r-10" id="similar-languages">
						Languages
						</button>
						<button class="btn btn-cyan btn-outline-cyan btn-round f-12 m-r-10" id="similar-performance">
						Performance
						</button>
  					</div>
				</div>
			</div>
			<div class="card-block">
				<div class="tab-content p-20">
			  		<div id="comparision-table">
			  		</div>
					<p id="table-explanation" class="text-muted p-t-10 p-b-10 m-0">
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<h5>Recommended Based on Stack Overflow</h5>
				<div class="card-header-left">
				</div>
				<div class="card-header-right">
				</div>
			</div>
			<div class="card-block">
				{% if shared_tags %}
				<div id="recommended-questions-stackoverflow-chart"></div>
				<p class="text-muted">
					<i class="icofont icofont-question-circle f-20 text-cyan p-r-5"></i>
					NoSQLs commonly tagged on the same questions in Stack Overflow. 
				</p>
				{% else %}
					{% include "partials/emptyDetailSectionBG.html" %}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-header">
				<div class="card-header-left">
					<h5 class="card-header-text">
						Recommended by Alternativeto
					</h5>
				</div>
				<div class="card-header-right">
					<input type="checkbox" data-toggle="switcher" class="js-default js-small" {% if alternativeto_recommendations %}checked{% endif %}>
				</div>
			</div>
			<div class="card-block">
				{% if alternativeto_recommendations %}
				<div id="alternativeto-recommendations">
					{% for alternative in alternativeto_recommendations %}
					<div class="media p-b-10">
						<div class="media-left media-middle photo-table">
							<a href="#">
								<img class="img-radius" src="{{ alternative.thumbnail }}">
							</a>
						</div>
						<div class="media-body">
							<h6>{{ alternative.name|title }}</h6>
						</div>
					</div>
					{% endfor %}	
				</div>
				{% else %}
					{% include "partials/emptyDetailSection.html" %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
