{% load staticfiles %}
{% load humanize %}
{% load percentage_difference %}
{% load change_tag %}


<div class="row">
	<!-- Description -->
	<div class="col-md-12 col-xl-8">
		<div class="card" data-intro="A card with descriptions collected from different websites. You can select the tab as the source website." data-step="9">
			<div class="card-block p-b-0">
				<h4 class="p-t-10 f-20 p-b-10 m-t-0">Summary</h4>
				<div class="tab-content card-block" style="padding: 0px;">
					{% if summary %}
					<div class="tab-pane active" id="dbpedia-description" role="tabpanel" aria-expanded="true">
						<p class="text-muted p-t-10 p-b-10 m-0">
							{{ summary }}
						</p>
					</div>
					{% endif %}

					{% if stackoverflow_tag.summary %}
					<div class="tab-pane" id="stackoverflow-description" role="tabpanel" aria-expanded="false">
						<p class="text-muted p-t-10 p-b-10 m-0">
							{{ stackoverflow_tag.summary }}
						</p>
					</div>
					{% endif %}

					{% if stackshare_post.summary %}
					<div class="tab-pane" id="stackshare-description" role="tabpanel" aria-expanded="false">
						<p class="text-muted p-t-10 p-b-10 m-0">
							{{ stackshare_post.summary }}
						</p>
					</div>
					{% endif %}

					{% if dbengine_post.summary %}
					<div class="tab-pane" id="dbengine-description" role="tabpanel" aria-expanded="false">
						<p class="text-muted p-t-10 p-b-10 m-0">
							{{ dbengine_post.summary }}
						</p>
					</div>
					{% endif %}
					{% if not summary and not stackoverflow_tag.summary and not stackshare_post.summary and not dbengine_post.summary %}
						{% include 'partials/emptyDetailDescription.html' %}
					{% endif %}
				</div>
			</div>
			<ul class="nav nav-tabs md-tabs" role="tablist">
				<li class="nav-item">
					<a class="nav-link text-muted f-w-400 m-0 f-14 {% if summary %}active{% else %}disabled{% endif %}" data-toggle="tab" href="#dbpedia-description" role="tab" aria-expanded="true">
						DBpedia
					</a>
					<div class="slide"></div>
				</li>

				<li class="nav-item">
					<a class="nav-link text-muted f-w-400 m-0 f-14 {% if not stackoverflow_tag.summary %}disabled{% endif %}" data-toggle="tab" href="#stackoverflow-description" role="tab" aria-expanded="false">
						Stack Overflow
					</a>
					<div class="slide"></div>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted f-w-400 m-0 f-14 {% if not stackshare_post.summary %}disabled{% endif %}" data-toggle="tab" href="#stackshare-description" role="tab" aria-expanded="false">
						Stackshare
					</a>
					<div class="slide"></div>
				</li>
				<li class="nav-item">
					<a class="nav-link text-muted f-w-400 m-0 f-14 {% if not dbengine_post.summary %}disabled{% endif %}" data-toggle="tab" href="#dbengine-description" role="tab" aria-expanded="false">
						DBEngine
					</a>
					<div class="slide"></div>
				</li>
			</ul>
			
		</div>
	</div>
	<div class="col-md-4">
		<div class="card" data-intro="Chart with the comments posted on Stackshare with their number of likes." data-step="10">
			<div class="card-header p-t-10 p-b-10">
				<div class="card-header-left">
					<h5>Stackshare Comments</h5>
				</div>
				<div class="card-header-right">
				</div>
			</div>
			<div class="card-block p-r-0 p-l-0" style="background-color: #f5f6fa;">
				{% if stackshare_comments %}
				<div id="stackshare-comments" style="width: 100%; height: 140px;"></div>
				{% else %}
					{% include "partials/emptyStackshareComments.html" %}
				{% endif %}
			</div>
			<div class="card-body h3 d-flex justify-content-between m-0">
				<span>
					{{ stackshare_comments|length }}
					<small class="text-muted f-10 m-l-5">comments</small>
				</span>
				<i class="icofont-comment text-success"></i>
			</div>
		</div>
	</div>
</div>


<div class="row">
<!-- Comparision Websites Chart -->
	<div class="col-md-12">
		<div class="card" data-intro="The number of queries made by year with the percentage of increase or decrease between the last and previous year." data-step="11">
			<div class="card-header">
				<h5>Interest Over Time</h5>
				<div class="card-header-left">
				</div>
				<div class="card-header-right">
				</div>
			</div>
			<div class="card-block">
				<div class="row">
					<div class="col-md-8">
						{% if is_valid_interest_over_time %}
						<canvas id="interest-over-time-chart" height="200" style="width: 100%;">
						</canvas>
						{% else %}
						<div class="text-center" style="height: 250px;">
							<i class="fa fa-google f-100 text-cyan" style="font-size: 100px;display: block; padding-top:10%;"></i>
							<small class="text-muted">Sorry, but there aren't google queries</small>	
						</div>
						{% endif %}
					</div>
					<div class="col-md-4 text-center">
						<img src="{% static "assets/app/images/google.png" %}" class="google-logo">
						<p class="text-muted p-l-10">
							<i class="fa fa-fw fa-circle f-10 text-cyan p-r-15"></i>
							The popularity is calculated in base to the average number of queries in the Google search engine made each year
						</p>
						<div class="p-t-10">
							<h3 class="text-primary d-inline-block">{{ interest_over_time|percentage_difference }}%</h3>
							{% with interest_over_time|change_tag as percent_change %}
							{% if percent_change == 'more' %}
							<i class="icofont icofont-long-arrow-up f-30 text-c-green"></i>
							{% elif percent_change == 'less' %}
							<i class="icofont icofont-long-arrow-down f-30 text-negative"></i>
							{% else %}
							<i class="icofont icofont-ti-arrow-right f-30 text-primary"></i>
							{% endif %}
							{% endwith %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card" data-intro="You can click on any of the Tabs to compare the product (marked with a dotted line) with all the other products.  The comparison is made based on views, the number of repositories, scores, votes, and likes on the different websites." data-step="12">
			<div class="card-header">
				<h5 id="comparison-chart-title">Comparison Chart</h5>
				<div class="card-header-left ">
				</div>
				<div class="card-header-right">
					<ul class="nav nav-pills nav-pills-rounded">
					    <li class="nav-item">
					    	<a class="nav-link active" data-toggle="tab" href="#stackoverflow-comparison">
					    		Stack Overflow
					    	</a>
					    </li>
					    <li class="nav-item">
					    	<a class="nav-link" data-toggle="tab" href="#github-comparison">
					    		Github
					    	</a>
					    </li>
					    <li class="nav-item">
					    	<a class="nav-link" data-toggle="tab" href="#dbengine-comparison">
					    	DBEngine
					    	</a>
					    </li>
					    <li class="nav-item">
					    	<a class="nav-link" data-toggle="tab" href="#stackshare-comparison">
					    	Stackshare
					    	</a>
					    </li>
					    <li class="nav-item">
					    	<a class="nav-link" data-toggle="tab" href="#alternativeto-comparison">
					    	AlternativeTo
					    	</a>
					    </li>
					</ul>
				</div>
			</div>
			<div class="card-block">
				<div class="tab-content">
					<div id="stackoverflow-comparison" class="tab-pane active">
						{% if not has_stackoverflow_views %}
						<div class="m-20 d-flex">
							<i class="icofont icofont-exclamation-circle f-20 text-danger"></i>
					    	<p class="text-muted m-l-10">Sorry but the product doesn't seem to appear in this chart, the site doesn't provide data about the product.</p>
				    	</div>
				    	{% endif %}
						<div id="stackoverflow-comparison-chart" style="height: 350px;"></div>
						<div class="m-20 d-flex">
							<i class="icofont icofont-question-circle f-20 text-cyan"></i>
						    <p class="text-muted m-l-10">The comparison is based on the views of Stack Overflow of all the products. The dotted line shows the views of the actual product.</p>
						</div>
					</div>
					<div id="github-comparison" class="tab-pane">
						{% if not has_repositories_stars %}
						<div class="m-20 d-flex">
							<i class="icofont icofont-exclamation-circle f-20 text-danger"></i>
					    	<p class="text-muted m-l-10">Sorry but the product doesn't seem to appear in this chart, the site doesn't provide data about the product.</p>
				    	</div>
						{% endif %}
						<div id="github-comparison-chart" style="height: 350px;"></div>
						<div class="m-20 d-flex">
							<i class="icofont icofont-question-circle f-20 text-cyan"></i>
						    <p class="text-muted m-l-10">The comparison is based on the amount of Github stars of all the products. The dotted line shows the views of the actual product.</p>
						</div>
					</div>
					<div id="dbengine-comparison" class="tab-pane">
						{% if not has_dbengine_scores %}
						<div class="m-20 d-flex">
							<i class="icofont icofont-exclamation-circle f-20 text-danger"></i>
					    	<p class="text-muted m-l-10">Sorry but the product doesn't seem to appear in this chart, the site doesn't provide data about the product.</p>
				    	</div>
						{% endif %}
						<div id="dbengine-comparison-chart" style="height: 350px;"></div>
						<div class="m-20 d-flex">
							<i class="icofont icofont-question-circle f-20 text-cyan"></i>
						    <p class="text-muted m-l-10">The comparison is based on the DBEngine score of all the products. The dotted line shows the views of the actual product.</p>
						</div>
					</div>
					<div id="stackshare-comparison" class="tab-pane">
						{% if not has_stackshare_votes %}
						<div class="m-20 d-flex">
							<i class="icofont icofont-exclamation-circle f-20 text-danger"></i>
					    	<p class="text-muted m-l-10">Sorry but the product doesn't seem to appear in this chart, the site doesn't provide data about the product.</p>
				    	</div>
						{% endif %}
						<div id="stackshare-comparison-chart" style="height: 350px;"></div>
						<div class="m-20 d-flex">
							<i class="icofont icofont-question-circle f-20 text-cyan"></i>
						    <p class="text-muted m-l-10">The comparison is based on the amount of Stackshare votes of all the products. The dotted line shows the views of the actual product.</p>
						</div>
					</div>
					<div id="alternativeto-comparison" class="tab-pane">
						{% if not has_alternativeto_likes %}
						<div class="m-20 d-flex">
							<i class="icofont icofont-exclamation-circle f-20 text-danger"></i>
					    	<p class="text-muted m-l-10">Sorry but the product doesn't seem to appear in this chart, the site doesn't provide data about the product.</p>
				    	</div>
						{% endif %}
						<div id="alternativeto-comparison-chart" style="height: 350px;"></div>
						<div class="m-20 d-flex">
							<i class="icofont icofont-question-circle f-20 text-cyan"></i>
						    <p class="text-muted m-l-10">The comparison is based on the amount of AlternativeTo likes of all the products. The dotted line shows the views of the actual product.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xl-8">
		<div class="card" data-intro="Bullet charts showing the actual value of the product with the average and maximum from all the products based on the ranking measures used in the other websites like views, votes, scores and amount of repositories." data-step="13">
			<div class="card-header">
				<div class="card-header-left">
					<h5>Popularity in Different Websites</h5>
				</div>
				<div class="card-header-right">
				</div>
			</div>
			<div class="card-block p-b-10">
				<div class="popularity-item">
					<div class="col-md-3">
						<div class="technologies-list">
							<div class="text-center">
								<h6 class="icon-task bg-c-orange d-inline-block text-center">
									<i class="ti-stack-overflow f-25 p-t-0"></i>
								</h6>
							</div>
							<div class="text-center">
								<small class="text-muted d-inline-block text-center m-l-0 m-b-0">
									Stack Overflow views
								</small>
							</div>
    					</div>
    				</div>
    				<div class="col-md-9"> 
    					<div id="stackoverflow-bullet-chart" data-toggle="bullet-chart" style="width: 100%; height: 90px;" data-measure="{{ stackoverflow_bullet_data.actual|floatformat }}" data-max="{{ stackoverflow_bullet_data.max|floatformat }}" data-avg="{{ stackoverflow_bullet_data.avg|floatformat }}" data-min="{{ stackoverflow_bullet_data.min|floatformat }}"> 
    					</div>
    				</div>
				</div>

				<div class="popularity-item">
					<div class="col-md-3">
						<div class="technologies-list">
							<div class="text-center">
								<img src="{% static "assets/app/images/github.png" %}" style="width: 50px;">
							</div>
							<div class="text-center">
								<small class="text-muted d-inline-block text-center m-l-0 m-b-0">
									Github stars
								</small>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div id="github-bullet-chart" data-toggle="bullet-chart" style="width: 100%; height: 90px;" data-measure="{{ github_bullet_data.actual|floatformat }}" data-max="{{ github_bullet_data.max|floatformat }}" data-avg="{{ github_bullet_data.avg|floatformat }}" data-min="{{ github_bullet_data.min|floatformat }}">
						</div>
					</div>
				</div>


				<div class="popularity-item">
					<div class="col-md-3">
						<div class="technologies-list">
							<div class="text-center">
								<h6 class="icon-task bg-c-light-blue d-inline-block text-center">
									<i class="ti-sharethis f-25 p-t-0"></i>
								</h6>
							</div>
							<div class="text-center">
							  	<small class="text-muted d-inline-block text-center m-l-0 m-b-0">
							  		Stackshare likes
							  	</small>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div id="stackshare-bullet-chart" data-toggle="bullet-chart" style="width: 100%; height: 90px;" data-measure="{{ stackshare_bullet_data.actual|floatformat }}" data-max="{{ stackshare_bullet_data.max|floatformat }}" data-avg="{{ stackshare_bullet_data.avg|floatformat }}" data-min="{{ stackshare_bullet_data.min|floatformat }}"></div>
					</div>
				</div>

				<div class="popularity-item">
					<div class="col-md-3">
						<div class="technologies-list">
							<div class="text-center">
								<img src="{% static "assets/app/images/alternativeto.png" %}" style="width: 50px;border-radius: 100%;">
							</div>
							<div class="text-center">
								<small class="text-muted d-inline-block text-center m-l-0 m-b-0">
									Alternativeto likes
								</small>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div id="alternativeto-bullet-chart" data-toggle="bullet-chart" style="width: 100%; height: 90px;" data-toggle="bullet" data-measure="{{ alternativeto_bullet_data.actual|floatformat }}" data-max="{{ alternativeto_bullet_data.max|floatformat }}" data-avg="{{ alternativeto_bullet_data.avg|floatformat }}" data-min="{{ alternativeto_bullet_data.min|floatformat }}">
						</div>
					</div>
				</div>

				<div class="popularity-item">
					<div class="col-md-3">
						<div class="technologies-list">
							<div class="text-center">
								<div class="website-icon bg-c-pink d-inline-block text-center">
	                 				<h5 class="dbengine-title p-t-10">
	                 					DB
	                 				</h5>
	                 			</div>
							</div>
							<div class="text-center">
								<small class="text-muted d-inline-block text-center m-l-0 m-b-0">
									DBEngine score
								</small>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div id="dbengine-bullet-chart" data-toggle="bullet-chart" style="width: 100%; height: 90px;" data-toggle="bullet" data-measure="{{ dbengine_bullet_data.actual|floatformat }}" data-max="{{ dbengine_bullet_data.max|floatformat }}" data-avg="{{ dbengine_bullet_data.avg|floatformat }}" data-min="{{ dbengine_bullet_data.min|floatformat }}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-xl-4">
		<div class="card">
			<div class="card-header">
				<div class="card-header-left">
					<h5>Supported APIs</h5>
				</div>
				<div class="card-header-right">
					<input type="checkbox" data-toggle="switcher" class="js-default js-small" {% if apis|length > 0 %}checked{% endif %}>
				</div>
			</div>
			<div id="supported-apis" class="card-block">
				<div class="table-responsive">
					<table class="table properties">
						<tbody>
							{% for api in all_apis %}
								{% if api in apis %}
								<tr class="active">
									<td>
										<div>
											<i class="fa fa-fw fa-circle f-10"></i>
											<h6>{{ api|title }}</h6>
										</div>
									</td>
								</tr>
								{% else %}
								<tr class="inactive">
									<td>
										<h6>{{ api|title }}</h6>
									</td>
								</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<div class="card-header-left">
					<h5>Operating System</h5>
				</div>
				<div class="card-header-right">
					<input type="checkbox" data-toggle="switcher" class="js-default js-small" {% if operating_systems|length > 0 %}checked{% endif %}>
				</div>
			</div>
			<div id="operating-systems" class="card-block">
				{% if operating_systems|length > 0 %}
				<div class="table-responsive">
					<table class="table properties">
						<tbody>
						{% for op in operating_systems %}
	                        {% if op.name %}
							<tr class="active">
								<td>
									<div>
										<i class="fa fa-fw fa-circle f-10"></i>
										<h6>{{ op.name|title }}</h6>
									</div>
								</td>
							</tr>
							{% endif %}
						{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
					{% include "emptyDataDescription.html"%}
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xl-12">
		
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<div class="card-header-left">
					<h5>Supported Transaction Methods</h5>
				</div>
				<div class="card-header-right">
					<input type="checkbox" data-toggle="switcher" class="js-default js-small" {% if transactions|length > 0 %}checked{% endif %}>
				</div>
			</div>
			<div class="card-block">
				<div class="table-responsive">
					<table class="table properties">
						<tbody>
						{% for t in all_transactions %}
							{% if t in transactions %}
							<tr class="active">
								<td>
									<div>
										<i class="fa fa-fw fa-circle f-10"></i>
										<h6>{{ t|title }}</h6>
									</div>
								</td>
							</tr>
							{% else %}
							<tr class="inactive">
								<td>
									<h6>{{ t|title }}</h6>
								</td>
							</tr>
							{% endif %}
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
											
		<div class="card">
			<div class="card-header">
				<div class="card-header-left">
					<h5>Use Cases</h5>
				</div>
				<div class="card-header-right">
					<input type="checkbox" data-toggle="switcher" class="js-default js-small" {% if uses|length > 0 %}checked{% endif %}>
				</div>
			</div>
			<div class="card-block">
				{% if uses %}
				<div class="table-responsive">
					<table class="table properties">
						<tbody>
						{% for use in uses %}
							<tr class="active">
								<td>
									<div>
										<i class="fa fa-fw fa-circle f-10"></i>
										<h6>{{ use|title }}</h6>
									</div>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
					{% include "partials/emptyDetailSection.html" %}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				<div class="card-header-left">
					<h5>Supported Consistency Methods</h5>
				</div>
				<div class="card-header-right">
					<input type="checkbox" data-toggle="switcher" class="js-default js-small" {% if consistencies|length > 0 %}checked{% endif %}>
				</div>
			</div>
			<div class="card-block">
				<div class="table-responsive">
					<table class="table properties">
						<tbody>
						{% for c in all_consistencies %}
							{% if c in consistencies %}
							<tr class="active">
								<td>
									<div>
										<i class="fa fa-fw fa-circle f-10"></i>
										<h6>{{ c|title }}</h6>
									</div>
								</td>
							</tr>
							{% else %}
							<tr class="inactive">
								<td>
									<h6>{{ c|title }}</h6>
								</td>
							</tr>
							{% endif %}
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<div class="card-header-left">
					<h5>Data Types</h5>
				</div>
				<div class="card-header-right">
					<input type="checkbox" data-toggle="switcher" class="js-default js-small"  {% if supported_datatypes|length > 0 %}checked{% endif %}>
				</div>
			</div>
			<div class="card-block">
				<div class="table-responsive">
				{% if supported_datatypes %}
				<table class="table properties">
					<tbody>
						{% for datatype in supported_datatypes %}
						<tr class="active">
							<td>
								<div>
									<i class="fa fa-fw fa-circle f-10"></i>
									<h6>{{ datatype.name|title }}</h6>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
					{% include "partials/emptyDetailSection.html" %}
				{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>